.accesos {
  $t: &;
  padding: 50px 0;
  @include break(md-mw) {
    padding: rem(15px) 0;
  }
  &__item {
    position: relative;
    text-align: center;
    padding: rem(50px);
    text-decoration: none;
    @include break(md-mw) {
      margin-bottom: rem(15px)
    }
  }
  &__bg {
    @include posicion(absolute, 0, 0, 0, 0);
    z-index: -1;
    width: 100%;
    overflow: hidden;
    img {
      opacity: 0.2;
      @include transicion;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__icon {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: blanco(1);
  }
  &__desc {
    margin-bottom: rem(40px);
  }
  &__item {
    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }
}
