.accordion {
  $t : &;
  &__button {
    font-size: rem(20px);
    padding: rem(15px);
    display: flex;
    justify-content: space-between;
    color: $secundario;
    border-bottom: 1px solid negro(.1);
    border-left: 0 solid $primario;
    cursor: pointer;
    @include transicion;
    &:hover {
      opacity: .6;
    }
  }
  &__panel {
    border-bottom: 1px solid negro(.1);    
  }
  &__item {
    &--active {
      #{$t}__button {
        border-left-width: rem(5px);
        path {
          fill: $primario;
        }
      }
    }
  }
}
