.articles {
  $t: &;
  &__item {
    display: flex;
    margin-bottom: rem(20px);
    border: 1px solid rgba($secundario, 0.1);
    @include transicion;
    @include break(lg-mw) {
      flex-direction: column;
    }
  }
  &__image,
  &__content {
    flex: 1;
  }
  &__image {
    position: relative;
    aspect-ratio: 9/16;
    overflow: hidden;
    @include break(lg-mw) {
      aspect-ratio: 16/9;
    }
    img {
      @include posicion(absolute, 0, 0, 0, 0);
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include transicion;
    }
  }
  &__content {
    padding: rem(30px);
    background: blanco(1);
    display: flex;
    flex-direction: column;
    @include break(sm-mw) {
      padding: rem(15px)
    }
  }
  &__title {
    margin-top: 0;
    padding-bottom: 0.75em;
    border-bottom: 1px solid negro(0.3);
    @include transicion;
    @include break(md-mw) {
      border: 0;
    }
  }
  &__excerpt {
    min-height: 50%;
    @include transicion;
    margin-bottom: rem(20px);
    @include break(md-mw) {
      display: none;
    }
  }
  &__item {
    &:hover {
      img {
        transform: scale(1.1);
      }
      #{$t}__title {
        color: $primario;
      }
      #{$t}__excerpt {
        opacity: .6;
      }
    }
  }
}
