.banner {
  margin-top: var(--header);
  height: rem(200px);
  overflow: hidden;
  background: $secundario;
  position: relative;
  &__bg {
    @include posicion(absolute,0,0,0,0);
    img {
      opacity: .2;
    }
  }
  &__container {
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  &__title {
    margin: 0;
  }
}