.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: rem(40px) rem(20px);
  &__image {
    width: rem(150px);
    height: rem(150px);
    border: 10px solid lighten($secundario,10%);
    border-radius: 50%;
    box-shadow: 0 3px 15px negro(.15);
    margin-bottom: rem(30px);
    img {
      border-radius: 50%;
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  &__name,
  &__id,
  &__title {
    text-transform: uppercase;
    color: blanco(1);
    margin-bottom: rem(10px);
    font-weight: 800;
    text-align: center;
  }
  &__name {
    font-size: rem(18px);
  }
  &__id {
    font-size: rem(14px);
  }
  &__title {
    color: $terciario;
    display: inline-flex;
    padding: rem(10px) rem(15px);
    box-shadow: 0 3px 15px negro(.15);
    border-radius: rem(30px);
  }
}