.categorias {
  $t: &;
  position: relative;
  padding-bottom: rem(20px);
  &__bg {
    @include posicion(absolute,0,0,20%,0);
    background: $secundario;
    img {
      opacity: .2;
    }
  }
  &__info {
    position: relative;
    padding: rem(30px) 0;
    text-align: center;
    max-width: rem(1000px);
    margin: auto;
  }
  &__title {
    margin-top: 0;
    margin-bottom: .2em;
  }
  &__item {
    position: relative;
    display: block;
    margin-bottom: rem(30px);
    // aspect-ratio: 16/9;
    padding-bottom: 75%;
    &__bg {
      @include posicion(absolute,0,0,0,0);
      overflow: hidden;
      img {
        @include transicion;
      }
    }
    &__info {
      @include posicion(absolute,null,null, 20px, 20px);
      padding: rem(10px);
      display: flex;
      align-items: center;
      width: 100%;
      max-width: rem(220px);
      @include transicion;
    }
    &__icon {
      width: rem(35px);
      height: rem(35px);
      border-radius: 50%;
      background: $secundario;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: rem(10px);
      svg {
        fill: blanco(1);
        width: 60%;
        height: 60%;
      }
    }
    &__title {
      font-weight: 800;
      text-transform: uppercase;
    }
  }
  &__item {
    &:hover {
      img {
        transform: scale(1.1);
      }
      #{$t}__item__info {
        transform: translateX(10px);
      }
    }
  }
}