.dashboard {
  padding-top: var(--header);
  &__container {
    display: flex;
    background: gris(98);
    @include break(md-mw) {
      flex-direction: column;
    }
  }
  &__side {
    min-height: calc(80vh - var(--header));
    width: var(--side-menu);
    background: $secundario;
    padding-bottom: rem(30px);
    @include break(md-mw) {
      width: 100%;
      min-height: auto;
      padding-bottom: 0;
    }
  }
  &__menu {
    $t: &;
    position: relative;
    &__open {
      @include posicion(absolute,0,0,null,0);
      height: rem(40px);
      width: 100%;
      z-index: 1;
      opacity: 0;
      &:checked {
        ~ #{$t}__list {
          max-height: calc(70px * 10);
        }
        ~ #{$t}__burger {
          background: $terciario;
        }
      }
    }
    &__burger {
      display: flex;
      justify-content: space-between;
      padding: rem(10px);
      color: blanco(1);
      background: blanco(.05);
      @include transicion;
    }
    @include break(md) {
      &__open,
      &__burger {
        display: none;
      }
    }
    &__list {
      @include break(md-mw) {
        overflow: hidden;
        max-height: 0;
        @include transicion;
      }
    }
    &__item {
      &:first-of-type {
        #{$t}__link {
          border-top: 1px solid blanco(0.1);
        }
      }
    }
    &__link {
      display: flex;
      align-items: flex-start;
      color: blanco(1);
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 800;
      font-size: rem(14px);
      padding: rem(10px);
      @include transicion;
      border-bottom: 1px solid blanco(0.2);
      &.active {
        background: $primario;
      }
      &:hover:not(.active) {
        background: blanco(0.1);
      }
      svg {
        width: rem(30px);
        height: rem(30px);
        margin-right: rem(10px);
      }
      span {
        width: calc(100% - 40px);
      }
      em {
        display: block;
        font-style: normal;
        text-transform: none;
        font-weight: normal;
        font-size: rem(12px);
      }
    }
  }
  &__body {
    padding: rem(20px);
    width: calc(100% - var(--side-menu));
    @include break(md-mw) {
      padding: 0;
      width: 100%;
    }
  }
  &__content {
    padding: rem(30px);
    background: blanco(1);
    box-shadow: 0 0 20px negro(0.1);
  }
  h1 {
    margin-top: 0;
    font-weight: 800;
  }
  &__stats {
    display: flex;
    justify-content: space-between;
    padding: rem(30px);
    background: negro(.05);
    &__item {
      display: flex;
      padding: 0 rem(15px);
      flex-direction: column;
      align-items: center;
      color: $secundario;
    }
    &__value {
      font-weight: 800;
      font-size: rem(18px);
      line-height: 1.5;
    }
  }
}
