.footer {
  margin-top: auto;
  background: $secundario;
  padding: rem(30px) 0;
  &__container {
    display: flex;
    justify-content: space-between;
    @include break(md-mw) {
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
  }
  &__redes {
    padding: 0;
    margin-bottom: rem(20px);
    @include break(md-mw) {
      justify-content: center;
    }
  }
  &__menu {
    &__list {
      display: flex;
      flex-wrap: wrap;
      @include break(md-mw) {
        display: none;
      }
    }
    &__item {
      padding-left: rem(10px);
      margin-left: rem(10px);
      border-left: 1px solid blanco(1);
      margin-bottom: rem(10px);
      &:first-of-type {
        border: 0;
        padding: 0;
        margin-left: 0;
      }
    }
    &__link {
      text-decoration: none;
      color: blanco(1);
      @include transicion;
      display: block;
      font-size: rem(14px);
      &:hover {
        opacity: 0.6;
      }
    }
  }
  &__left {
    text-align: right;
    @include break(md-mw) {
      text-align: center;
    }
  }
  &__logo {
    display: inline-block;
    width: rem(200px);
    margin-bottom: rem(10px);
    @include break(md-mw) {
      display: none;
    }
  }
  &__copy {
    font-size: rem(12px);
    color: blanco(1);
  }
}
