.menu {
  $t: &;
  &__list {
    height: 100%;
    display: flex;
    align-items: center;
  }
  &__item {
    padding: 0 rem(5px);
  }
  &__link {
    color: blanco(1);
    text-decoration: none;
    padding: rem(5px) rem(15px);
    text-transform: uppercase;
    @include transicion;
    border-radius: rem(20px);
  }
  &__item {
    &--active,
    &:hover {
      #{$t}__link {
        background: lighten($secundario, 5%);
      }
    }
  }
}
