.registro {
  position: relative;
  padding-top: rem(160px);
  .section__subtitle {
    color: $secundario;
  }
  &__bg {
    background: blanco(1);
    @include posicion(absolute,0,0,0,0);
    overflow: hidden;
    img {
      opacity: .2;
    }
  }
  &__container {
    position: relative;
    min-height: 100%;
  }
}