.socios-estrategicos {
  padding: rem(100px) 0;
  &__grid {
    padding-top: rem(50px);
    display: flex;
    flex-wrap: wrap;
    margin-left: rem(-5px);
    margin-right: rem(-5px);
    justify-content: center;
  }
  &__item {
    width: calc(100% / 6);
    padding: 0 rem(5px);
    margin-bottom: rem(10px);
    img {
      display: block;
      width: 100%;
    }
    @include break(lg-mw) {
      width: calc(100% / 4);
    }
    @include break(md-mw) {
      width: calc(100% / 3);
    }
    @include break(sm-mw) {
      width: calc(100% / 2);
    }
  }
}