footer.footer
  .footer__container.container
    .footer__right
      .footer__redes.rrss
        a.rrss__link(href="#")
          i.fab.fa-lg.fa-youtube
        a.rrss__link(href="#")
          i.fab.fa-lg.fa-instagram
        a.rrss__link(href="#")
          i.fab.fa-lg.fa-facebook
        a.rrss__link(href="#")
          i.fab.fa-lg.fa-twitter
      nav.footer__menu
        ul.footer__menu__list
          li.footer__menu__item 
            a(href="#").footer__menu__link Inicio
          li.footer__menu__item 
            a(href="#").footer__menu__link Temas de interés
          li.footer__menu__item 
            a(href="#").footer__menu__link Tipo de clientes
          li.footer__menu__item 
            a(href="#").footer__menu__link Preguntas frecuentes
          li.footer__menu__item 
            a(href="#").footer__menu__link Tiendas
    .footer__left
      img.footer__logo(src="/assets/logo.png" alt="@SITE_NAME@")
      p.footer__copy &copy; Todos los derechos reservados