- const placeholder = (w, h) => `https://via.placeholder.com/${w}x${h}`
- 
  const categorias = [
    {
      title: 'Gasfitería',
      slug: 'gasfiteria',
      color: 'terciario',
      icon: `
        <svg xmlns="http://www.w3.org/2000/svg" width="23.135" height="18.407" viewBox="0 0 23.135 18.407">
          <path d="M1492.669,1084.9h-2.188a2.295,2.295,0,0,0-4.4,0h-2.305v-2.673h.179a.32.32,0,0,0,.327-.313v-.426h1.086a1.89,1.89,0,0,0,1.3-.538l.535-.508a1.226,1.226,0,0,1,.838-.355h3.27a.835.835,0,0,0,.576-.235,1.016,1.016,0,0,0,.307-.772.948.948,0,0,0-.908-.952h-3.245a1.891,1.891,0,0,0-1.3.538l-.536.509a1.226,1.226,0,0,1-.838.355h-1.086v-.427a.321.321,0,0,0-.327-.314h-.179v-.2a2.153,2.153,0,0,0-2.224-2.069h-.243a2.153,2.153,0,0,0-2.224,2.069v.2h-.18a.321.321,0,0,0-.327.314v.427h-.75a.859.859,0,0,0-.884.829v.3a.859.859,0,0,0,.884.829h.75v.426a.32.32,0,0,0,.327.313h.18v2.673h-2.305a2.3,2.3,0,0,0-4.4,0h-2.188a.323.323,0,0,0-.329.314v7.755a.323.323,0,0,0,.329.314h2.188a2.3,2.3,0,0,0,4.4,0h9.3a2.295,2.295,0,0,0,4.4,0h2.188a.323.323,0,0,0,.33-.314v-7.755a.322.322,0,0,0-.33-.314m-12.927-6.112v-.2a1.511,1.511,0,0,1,1.568-1.443h.243a1.511,1.511,0,0,1,1.567,1.443v.2Zm-.507,2.812v-2.184h4.392v2.184h-4.392Zm5.048-.74v-.705h1.086a1.888,1.888,0,0,0,1.3-.539l.535-.508a1.229,1.229,0,0,1,.838-.355h3.245c.128,0,.248.162.252.34a.425.425,0,0,1-.112.312.175.175,0,0,1-.115.053h-3.27a1.89,1.89,0,0,0-1.3.538l-.536.509a1.218,1.218,0,0,1-.838.355Zm-5.7-.705v.705h-.749a.216.216,0,0,1-.227-.2v-.3a.216.216,0,0,1,.227-.2Zm11.957,5.372h1.806v7.129h-1.806Zm-11.124,0h6.615v.79h-8.447a.314.314,0,1,0,0,.627h8.447v5.714h-9.191v-7.13Zm3.708-.627h-.105v-2.493a.3.3,0,0,0-.061-.181h.167Zm-.7-2.673a.306.306,0,0,0-.061.181v2.493h-2.617v-2.673Zm4.263,3.121a1.511,1.511,0,0,1,1.269-1.428v10.345a1.511,1.511,0,0,1-1.269-1.429Zm1.927,8.917v-10.346a1.509,1.509,0,0,1,1.27,1.437v7.471a1.51,1.51,0,0,1-1.27,1.438m-15.626-8.917a1.51,1.51,0,0,1,1.27-1.428v10.345a1.511,1.511,0,0,1-1.27-1.429Zm1.927,8.917v-10.345a1.509,1.509,0,0,1,1.269,1.441v7.463a1.509,1.509,0,0,1-1.269,1.441m-2.584-1.607h-1.8v-7.13h1.8Z" transform="translate(-1469.864 -1076.515)"/>
        </svg>
      `
    },
    {
      title: 'Carpintería',
      slug: 'carpinteria',
      color: 'primario',
      icon: `
        <svg xmlns="http://www.w3.org/2000/svg" width="25.678" height="23.079" viewBox="0 0 25.678 23.079">
          <path d="M1682.813,1082.847c-.16-1.581-1.247-3.141-3.416-4.9a2.333,2.333,0,0,0,.294-.938.371.371,0,0,0-.1-.285.41.41,0,0,0-.268-.125l-1.236-.082a.391.391,0,0,0-.424.341c-.056.558-1.637,1.892-2.486,2.609l-.013.01a12.621,12.621,0,0,0-1.081.975.931.931,0,0,0-.225,1.025.974.974,0,0,0-.158.077,1.025,1.025,0,0,0-.142.108l-16.113,14.68a.855.855,0,0,0-.131,1.138l1.2,1.7.021.037.01.006a1,1,0,0,0,1.289.229l1.389-.845a.376.376,0,0,0,.178-.246.358.358,0,0,0-.061-.285l-.311-.44a.119.119,0,0,1-.019-.093.137.137,0,0,1,.066-.086l.017-.01a.177.177,0,0,1,.209.06l.3.429a.4.4,0,0,0,.541.108l.931-.561a.385.385,0,0,0,.175-.241.363.363,0,0,0-.059-.289l-.311-.442a.113.113,0,0,1-.02-.092.138.138,0,0,1,.052-.078l.016-.009a.171.171,0,0,1,.123-.018.155.155,0,0,1,.1.072l.3.427a.407.407,0,0,0,.541.107l.929-.559a.377.377,0,0,0,.175-.246.36.36,0,0,0-.06-.285l-.311-.444a.115.115,0,0,1-.019-.087.134.134,0,0,1,.062-.086l.013-.009a.175.175,0,0,1,.223.057l.3.429a.4.4,0,0,0,.249.158.415.415,0,0,0,.294-.052l.928-.562a.382.382,0,0,0,.172-.236.36.36,0,0,0-.058-.3l-.311-.435a.128.128,0,0,1-.022-.094.142.142,0,0,1,.057-.079l.016-.009a.173.173,0,0,1,.225.051l.3.43a.4.4,0,0,0,.252.16.419.419,0,0,0,.289-.051l.929-.563a.38.38,0,0,0,.177-.246.362.362,0,0,0-.059-.286l-.3-.423h0l-.009-.016a.112.112,0,0,1-.019-.089.131.131,0,0,1,.057-.083l.009-.006a.176.176,0,0,1,.227.05l.3.429a.4.4,0,0,0,.249.159.421.421,0,0,0,.294-.051l.929-.561a.384.384,0,0,0,.176-.244.368.368,0,0,0-.06-.289l-.3-.428-.016-.021a.112.112,0,0,1-.01-.08.133.133,0,0,1,.065-.086l.007,0a.177.177,0,0,1,.224.052l.3.429a.4.4,0,0,0,.254.162.414.414,0,0,0,.29-.052l.924-.563a.375.375,0,0,0,.176-.245.364.364,0,0,0-.06-.284l-.311-.441a.114.114,0,0,1-.017-.093.135.135,0,0,1,.065-.083l.011-.007a.174.174,0,0,1,.117-.014.16.16,0,0,1,.1.067l.3.431a.407.407,0,0,0,.543.108l.923-.561a.383.383,0,0,0,.178-.241.362.362,0,0,0-.059-.293l-.311-.438a.109.109,0,0,1-.019-.09.131.131,0,0,1,.065-.085l.011-.006a.174.174,0,0,1,.219.053l.3.431a.4.4,0,0,0,.251.159.415.415,0,0,0,.293-.051l.923-.564a.367.367,0,0,0,.118-.531l-.307-.436a.113.113,0,0,1-.019-.092.134.134,0,0,1,.064-.086.171.171,0,0,1,.226.048l.306.431a.409.409,0,0,0,.541.105l1.365-.829.01-.006.014-.008a.894.894,0,0,0,.187-.15,1.111,1.111,0,0,0,.444.158,1.276,1.276,0,0,0,.15.01,1.026,1.026,0,0,0,.643-.216c2.205-1.737,3.191-3.425,3.014-5.16m-4.254-5.042a.365.365,0,0,0,.07.512c2.171,1.711,3.25,3.173,3.4,4.6.149,1.468-.745,2.941-2.732,4.5h0a.253.253,0,0,1-.179.037.232.232,0,0,1-.157-.078l-4.343-6.159a.2.2,0,0,1,.025-.236.283.283,0,0,0,.046-.044,11.831,11.831,0,0,1,1.021-.914,10.749,10.749,0,0,0,2.646-2.741l.467.031a1.924,1.924,0,0,1-.259.484m-3.486,10.585a.86.86,0,0,0,.14.679l.077.108-.258.157-.083-.117a.988.988,0,0,0-1.3-.283.124.124,0,0,0-.03.019.886.886,0,0,0-.407.565.842.842,0,0,0,.116.639l.01.017,0,0,.092.128-.255.156-.085-.119a.943.943,0,0,0-.594-.391.984.984,0,0,0-.7.11l-.011.005a.9.9,0,0,0-.425.561.841.841,0,0,0,.122.667l.1.135-.254.155-.084-.12a.994.994,0,0,0-1.271-.3l-.026.014-.006,0-.013.008h0l-.064.038v0a.875.875,0,0,0-.348.516.857.857,0,0,0,.12.666.132.132,0,0,0,.01.017l.082.116-.258.156-.082-.117a1,1,0,0,0-1.279-.292.155.155,0,0,0-.037.022.863.863,0,0,0-.272,1.247l.076.107-.259.156-.081-.115a.993.993,0,0,0-1.284-.294.15.15,0,0,0-.03.016.88.88,0,0,0-.42.559.86.86,0,0,0,.143.7l.074.1-.255.155-.082-.117a1,1,0,0,0-1.3-.285l-.016.01a.89.89,0,0,0-.42.576.841.841,0,0,0,.131.658l.09.127-.258.154-.081-.115a.941.941,0,0,0-.59-.393,1,1,0,0,0-.7.1l-.023.014a.881.881,0,0,0-.422.56.842.842,0,0,0,.142.7l.076.108-.26.157-.083-.119a.994.994,0,0,0-1.3-.278l-.022.012,0,0a.89.89,0,0,0-.4.567.841.841,0,0,0,.134.66.184.184,0,0,0,.016.021l.072.1-1.048.636a.172.172,0,0,1-.221-.037l-.011-.013-1.207-1.709a.122.122,0,0,1,.022-.164l16.116-14.683s.007-.007,0-.006l.014-.008a.177.177,0,0,1,.218.029l.018.039.014.006,3.616,5.12a.121.121,0,0,1,.02.091.133.133,0,0,1-.056.085l-1.074.652-.085-.118a.992.992,0,0,0-1.3-.275.882.882,0,0,0-.423.572" transform="translate(-1657.155 -1076.512)"/>
          <path d="M1691.591,1081.979a.414.414,0,0,0-.527.013l-1.666,1.485a.365.365,0,0,0-.06.488l3.065,4.342a.4.4,0,0,0,.281.166.351.351,0,0,0,.048,0,.41.41,0,0,0,.269-.1c1.194-1.043,1.557-1.774,1.44-2.9s-1.174-2.161-2.85-3.5Zm2.062,3.575a2.081,2.081,0,0,1-.855,1.958l-2.612-3.7,1.164-1.035c1.156.942,2.216,1.925,2.3,2.779" transform="translate(-1670.761 -1078.791)"/>
        </svg>
      `
    },
    {
      title: 'Jardinería',
      slug: 'jardineria',
      color: 'primario',
      icon: `
        <svg xmlns="http://www.w3.org/2000/svg" width="36.919" height="36.915" viewBox="0 0 36.919 36.915">
          <g transform="translate(-1845.365 -1077.245)">
            <rect id="Rectángulo_19" data-name="Rectángulo 19" width="7.983" height="1.212" transform="translate(1858.414 1100.259) rotate(-45.017)"/>
          </g>
          <g transform="translate(-1845.365 -1077.245)">
            <path id="Trazado_35" data-name="Trazado 35" d="M1850.952,1114.16a4.918,4.918,0,0,1-3.505-1.446l-.632-.632a4.963,4.963,0,0,1,0-7.011l8.217-6.767a2.052,2.052,0,0,1,2.865.04l3.287,3.287a2.059,2.059,0,0,1,.01,2.9l-6.7,8.141A4.956,4.956,0,0,1,1850.952,1114.16Zm5.491-15.206a.838.838,0,0,0-.6.246l-8.218,6.767a3.738,3.738,0,0,0,.043,5.258l.633.632a3.757,3.757,0,0,0,5.3,0l6.728-8.175a.85.85,0,0,0,0-1.194l-3.287-3.288A.846.846,0,0,0,1856.443,1098.954Z"/>
          </g>
          <g transform="translate(-1845.365 -1077.245)">
              <path id="Trazado_36" data-name="Trazado 36" d="M1874.022,1104.7a3.554,3.554,0,0,1-2.461-1.188l-15.546-15.545a2.887,2.887,0,0,1,1.427-5.222l20.78-5.344a2.977,2.977,0,0,1,3.9,3.9l-5.342,20.781a3.219,3.219,0,0,1-2.114,2.53A2.483,2.483,0,0,1,1874.022,1104.7Zm5.377-26.245a3.525,3.525,0,0,0-.875.12l-20.78,5.344a1.712,1.712,0,0,0-.872,3.191l15.547,15.545a1.711,1.711,0,0,0,3.19-.872l5.343-20.781a2.152,2.152,0,0,0-.32-2.108A1.7,1.7,0,0,0,1879.4,1078.458Z"/>
          </g>
        </svg>

      `
    },
    {
      title: 'Electricidad',
      slug: 'electricidad',
      color: 'terciario',
      icon: `
        <svg xmlns="http://www.w3.org/2000/svg" width="20.891" height="19.367" viewBox="0 0 20.891 19.367">
          <path d="M1406,1082.942a1.521,1.521,0,0,0-.5-1.124,1.79,1.79,0,0,0-2.395,0l-3.461,3.208-2.18-2.02,3.446-3.194a1.511,1.511,0,0,0,0-2.247,1.836,1.836,0,0,0-2.4,0l-3.461,3.208-1.5-1.391a.47.47,0,0,0-.63,0l-1.5,1.388a.42.42,0,0,0-.136.306v1.671l-1.861,1.724a4.183,4.183,0,0,0-1.138,4.757l-1.358,1.259a1.241,1.241,0,0,0-.161,1.588c.043.086.093.177.152.271l-1.678,1.556a.411.411,0,0,0,0,.612.48.48,0,0,0,.629,0l1.586-1.47c.2.222.411.44.652.663s.464.412.7.591l-1.569,1.455a.413.413,0,0,0,0,.613.469.469,0,0,0,.63,0l1.69-1.567c.107.058.21.109.308.15a2.1,2.1,0,0,0,.813.186,1.265,1.265,0,0,0,.874-.333l1.6-1.48a4.772,4.772,0,0,0,4.894-.833l1.865-1.729h2.313a.459.459,0,0,0,.373-.187l1-1.389a.412.412,0,0,0-.058-.547l-1.484-1.376,3.446-3.194a1.522,1.522,0,0,0,.5-1.124m-10.3-1.572,3.446-3.194a.871.871,0,0,1,1.135,0,.686.686,0,0,1,0,1.024l-3.462,3.208Zm5.709,5.292-1.12-1.038,3.445-3.194a.849.849,0,0,1,1.135,0,.684.684,0,0,1,0,1.024Zm-10.04,5.278a.406.406,0,0,0-.071.321.422.422,0,0,0,.2.279,8.26,8.26,0,0,0,.761.418l-1.329,1.231c-.05.046-.2.186-.687-.022a5.657,5.657,0,0,1-1.5-1.073,5.3,5.3,0,0,1-1.155-1.383c-.216-.436-.072-.569-.026-.612l1.131-1.049a6.808,6.808,0,0,0,1.235,1.511.471.471,0,0,0,.629,0,.411.411,0,0,0,0-.612,4.675,4.675,0,0,1-1.686-3.321,3.436,3.436,0,0,1,1.187-2.546l2-1.85a.42.42,0,0,0,.136-.306v-1.671l1.048-.97,9.4,8.712-.651.905h-2.258a.462.462,0,0,0-.314.121l-2,1.851c-1.578,1.462-3.839.932-5.43-.052a.468.468,0,0,0-.618.116" transform="translate(-1385.113 -1077.121)"/>
        </svg>
      `
    },
    {
      title: 'Pinturas',
      slug: 'pinturas',
      color: 'terciario',
      icon: `
        <svg xmlns="http://www.w3.org/2000/svg" width="18.382" height="19.371" viewBox="0 0 18.382 19.371">
          <path d="M1584.109,1078.465h-.065v-.321a.258.258,0,0,0-.257-.258h-.72v-.167a1.58,1.58,0,0,0-1.581-1.581h-12.4a1.58,1.58,0,0,0-1.581,1.581v.167h-.707a.258.258,0,0,0-.257.258h0v1.156a.258.258,0,0,0,.257.258h.707v.63a1.583,1.583,0,0,0,1.247,1.555v3.11a.944.944,0,0,0,.938.938.874.874,0,0,0,.63-.257l.566-.514a.462.462,0,0,1,.283-.116h.231a.4.4,0,0,1,.373.231l.591,1.324a.919.919,0,0,0,.848.54.949.949,0,0,0,.9-.681l.656-2.327a.4.4,0,0,1,.4-.309h.116a.516.516,0,0,1,.334.142l.54.63a1.029,1.029,0,0,0,.72.322h.231a.947.947,0,0,0,.823-.489l.565-1.054a.381.381,0,0,1,.373-.206h.283a.8.8,0,0,1,.283.09l.566.489a.939.939,0,0,0,.617.231h.026a.944.944,0,0,0,.938-.938v-1.131a1.581,1.581,0,0,0,1.5-1.581v-.63h.707a.258.258,0,0,0,.257-.258v-.308h.065a.285.285,0,0,1,.283.283v3.059a1.406,1.406,0,0,1-.9,1.324l-7.224,2.237a1.9,1.9,0,0,0-1.221,1.786v1.388h-.411a.741.741,0,0,0-.733.733v4.975a.741.741,0,0,0,.733.733h1.5a.741.741,0,0,0,.733-.733V1089.8a.741.741,0,0,0-.733-.733h-.566v-1.388a1.407,1.407,0,0,1,.9-1.324l7.224-2.237a1.9,1.9,0,0,0,1.222-1.787v-3.059A.823.823,0,0,0,1584.109,1078.465Zm-17.057.566v-.63h.45v.63Zm13.985,3.895a.428.428,0,0,1-.424.424h-.026a.806.806,0,0,1-.282-.09l-.54-.488a.934.934,0,0,0-.617-.231h-.283a.946.946,0,0,0-.823.488l-.553,1.041a.422.422,0,0,1-.385.218h-.231a.514.514,0,0,1-.334-.141l-.54-.643a.937.937,0,0,0-.707-.322h-.116a.949.949,0,0,0-.9.682l-.656,2.327a.413.413,0,0,1-.771.077l-.591-1.324a.94.94,0,0,0-.848-.54h-.231a.875.875,0,0,0-.63.257l-.578.54a.388.388,0,0,1-.282.128.428.428,0,0,1-.424-.424v-3.072h11.8Zm1.517-2.712a1.05,1.05,0,0,1-1.054,1.054h-12.417a1.051,1.051,0,0,1-1.054-1.054v-2.494a1.05,1.05,0,0,1,1.054-1.054h12.4a1.05,1.05,0,0,1,1.054,1.054v2.494Zm.964-1.182h-.45v-.63h.45Zm-7.417,10.553a.2.2,0,0,1,.206.206v4.974a.2.2,0,0,1-.206.206h-1.517a.2.2,0,0,1-.205-.206V1089.8a.2.2,0,0,1,.205-.206h.424v.347a.258.258,0,0,0,.257.257h0a.258.258,0,0,0,.257-.257h0v-.347h.578Z" transform="translate(-1566.537 -1076.139)"/>
        </svg>
      `
    },
    {
      title: 'Construcción',
      slug: 'construccion',
      color: 'primario',
      icon: `
        <svg xmlns="http://www.w3.org/2000/svg" width="26.005" height="13.312" viewBox="0 0 26.005 13.312">
          <path d="M1312.376,1090.793a1.034,1.034,0,0,0,1.066,1h0a1.046,1.046,0,0,0,1.069-1,1.07,1.07,0,0,0-2.136.006m1.51-.006a.43.43,0,0,1-.446.4.42.42,0,0,1-.439-.4.425.425,0,0,1,.444-.4.416.416,0,0,1,.441.4" transform="translate(-1299.314 -1084.779)"/>
          <path d="M1289.51,1087.186a.334.334,0,0,0,.147.034.312.312,0,0,0,.271-.151,9.681,9.681,0,0,1,8.045-4.689h.132a7.007,7.007,0,0,1,5.311,2.473.322.322,0,0,0,.428.082.3.3,0,0,0,.138-.195.285.285,0,0,0-.05-.225,7.586,7.586,0,0,0-5.828-2.733h-.132a10.335,10.335,0,0,0-8.59,4.993.288.288,0,0,0-.028.228.3.3,0,0,0,.155.183" transform="translate(-1286.381 -1080.283)"/>
          <path d="M1299.405,1090.831a.952.952,0,0,0,.318.709,1.072,1.072,0,0,0,.733.281h.02a1.086,1.086,0,0,0,.766-.3.975.975,0,0,0,.3-.693.943.943,0,0,0-.316-.714,1.1,1.1,0,0,0-.739-.281,1.05,1.05,0,0,0-1.081,1m1.079-.406a.431.431,0,0,1,.307.115.369.369,0,0,1,.124.278.427.427,0,0,1-.449.407.452.452,0,0,1-.31-.116.373.373,0,0,1-.126-.278.43.43,0,0,1,.453-.406" transform="translate(-1292.031 -1084.8)"/>
          <path d="M1305.877,1090.811a1.074,1.074,0,0,0,2.142-.008,1.021,1.021,0,0,0-1.067-.993,1.041,1.041,0,0,0-1.075,1m1.075-.4a.416.416,0,0,1,.442.4.428.428,0,0,1-.448.4.421.421,0,0,1-.442-.4.428.428,0,0,1,.447-.4" transform="translate(-1295.665 -1084.79)"/>
          <path d="M1308.557,1090.455c-.184-.551-1.027-.774-1.117-.8-.275-.082-.873-.27-1.774-.558l-.079-.025c-.9-.259-1.376-1.576-1.615-2.634a14.285,14.285,0,0,1-.309-2.368.312.312,0,0,0-.013-.073,1.973,1.973,0,0,0-.708-.821,1.9,1.9,0,0,1-.441-.429,7.53,7.53,0,0,0-3.238-3.188,10.953,10.953,0,0,0-9.5-.235,9.014,9.014,0,0,0-5.276,5.789,1.764,1.764,0,0,1-.247.407,1.642,1.642,0,0,0-.351.691c-.191,1.489-.266,2.59-.287,2.934l-.062.1c-.545.2-.86.459-.937.772a.677.677,0,0,0,.193.629l.02.017c.856.669,2.522,1.008,4.951,1.008a37.4,37.4,0,0,0,4.974-.374,46.6,46.6,0,0,1,12.012.138c2.054.262,3.292.2,3.579-.176a.788.788,0,0,0,.222-.808m-25.341-.3c0-.019.062-.188.641-.383a.3.3,0,0,0,.169-.13l.161-.258a.318.318,0,0,0,.04-.13v-.018c.018-.305.089-1.42.286-2.948a1.3,1.3,0,0,1,.243-.426,2.316,2.316,0,0,0,.328-.562,8.483,8.483,0,0,1,4.967-5.445,10.308,10.308,0,0,1,8.928.239,7.04,7.04,0,0,1,2.955,2.909,2.122,2.122,0,0,0,.6.629,1.873,1.873,0,0,1,.5.509,14.029,14.029,0,0,0,.377,2.649c.414,1.634,1.082,2.594,1.985,2.854l.223.071c.411.132,1.268.4,1.644.516.249.063.639.243.694.405.02.061-.018.145-.117.254h0c-.091.046-.655.256-3-.042a46.855,46.855,0,0,0-12.2-.138c-.073.011-7.355,1.071-9.41-.492a.081.081,0,0,1-.019-.062" transform="translate(-1282.588 -1078.362)"/>
          <path d="M1304.421,1100.693a.292.292,0,0,0,.353-.2.264.264,0,0,0-.027-.208.291.291,0,0,0-.184-.135,17.244,17.244,0,0,0-6.7-.216,57.078,57.078,0,0,1-8.912.571h-.01a.286.286,0,0,0-.292.272.274.274,0,0,0,.077.2.3.3,0,0,0,.21.09h.016c.281.006.569.007.761.007a56.7,56.7,0,0,0,8.247-.585,16.614,16.614,0,0,1,6.464.207" transform="translate(-1285.99 -1090.347)"/>
        </svg>
      `
    },


    //- {
    //-   title: 'Ferretería',
    //-   slug: 'ferreteria',
    //-   color: 'terciario',
    //-   icon: `
    //-     <svg xmlns="http://www.w3.org/2000/svg" width="20.195" height="20.193" viewBox="0 0 20.195 20.193">
    //-       <g transform="translate(0 11.212)">
    //-         <path d="M1848.421,1106.723a2.69,2.69,0,0,1-1.917-.791l-.346-.346a2.715,2.715,0,0,1,0-3.835l4.495-3.7a1.122,1.122,0,0,1,1.567.022l1.8,1.8a1.127,1.127,0,0,1,.005,1.585l-3.664,4.453A2.711,2.711,0,0,1,1848.421,1106.723Zm3-8.318a.459.459,0,0,0-.327.135l-4.5,3.7a2.045,2.045,0,0,0,.024,2.876l.346.346a2.055,2.055,0,0,0,2.9,0l3.681-4.472a.465.465,0,0,0,0-.653l-1.8-1.8A.463.463,0,0,0,1851.425,1098.4Z" transform="translate(-1845.365 -1097.741)"/>
    //-       </g>
    //-       <g transform="translate(5.175)">
    //-         <g transform="translate(1.963 9.501)">
    //-           <rect width="4.367" height="0.663" transform="translate(0 3.089) rotate(-45.017)"/>
    //-         </g>
    //-       <path d="M1865.327,1092.266a1.944,1.944,0,0,1-1.346-.65l-8.5-8.5a1.579,1.579,0,0,1,.781-2.856l11.367-2.923a1.629,1.629,0,0,1,2.135,2.134l-2.922,11.368a1.76,1.76,0,0,1-1.156,1.384A1.35,1.35,0,0,1,1865.327,1092.266Zm2.941-14.357a1.928,1.928,0,0,0-.479.066l-11.368,2.923a.937.937,0,0,0-.477,1.746l8.5,8.5a.936.936,0,0,0,1.745-.477l2.923-11.368a1.177,1.177,0,0,0-.175-1.153A.928.928,0,0,0,1868.268,1077.909Z" transform="translate(-1854.826 -1077.245)"/>
    //-       </g>
    //-     </svg>
    //-   `
    //- },
    //- {
    //-   title: 'Herramientas',
    //-   slug: 'herramientas',
    //-   color: 'terciario',
    //-   icon: `
    //-     <svg xmlns="http://www.w3.org/2000/svg" width="18.811" height="18.925" viewBox="0 0 18.811 18.925">
    //-       <path d="M1194.142,1079.691l1.452,1.451h-1.871a.726.726,0,0,1,0-1.451Zm.946,0,1.452,1.451h1.713l-1.451-1.451Zm13.971,4.462,1.322,5.1h.521a.9.9,0,0,1,.9.9v4.549a.9.9,0,0,1-.9.9h-8a.9.9,0,0,1-.9-.9v-4.549a.9.9,0,0,1,.9-.9h2.6l-.391-1.5-1.271-.524a.167.167,0,1,1,.126-.309l.145.06.492-1.193-.423-1.634h-.568l-4.24-1.464v-1.546h-.167l-1.451-1.451h1.622v-1.53l4.241-1.479h7.087a1.109,1.109,0,0,1,1.107,1.108v5.256a1.109,1.109,0,0,1-1.107,1.108C1210.694,1084.153,1209.06,1084.153,1209.06,1084.153Zm1.634-6.734h-6.654v6h6.654a.37.37,0,0,0,.369-.369v-5.257A.368.368,0,0,0,1210.694,1077.419Zm-10.589,4.743,3.2,1.1v-5.7l-3.2,1.114Zm10.958,10.125h-3.49v-.918h-.823v.918h-4.01v2.414a.161.161,0,0,0,.161.161h8a.161.161,0,0,0,.16-.161v-2.414Zm-.489-2.294H1202.9a.161.161,0,0,0-.161.161v1.4h3.272v-.183a.739.739,0,0,1,.738-.738h.823a.739.739,0,0,1,.738.738v.183h2.751v-1.4a.161.161,0,0,0-.16-.161Zm-2.278-5.84h-3.357l1.322,5.1h3.357Zm-2.792-4.654h4.272a.338.338,0,1,0,0-.675H1205.5a.338.338,0,0,0-.338.338A.334.334,0,0,0,1205.5,1079.5Zm0,1.256h4.272a.338.338,0,1,0,0-.675H1205.5a.338.338,0,0,0-.338.338A.334.334,0,0,0,1205.5,1080.754Zm4.272.577H1205.5a.338.338,0,0,0,0,.675h4.272a.338.338,0,0,0,0-.675Z" transform="translate(-1192.997 -1076.678)"/>
    //-     </svg>
    //-   `
    //- },

    //- {
    //-   title: 'Plomería',
    //-   slug: 'plomeria',
    //-   color: 'terciario',
    //-   icon: `
    //-     <svg xmlns="http://www.w3.org/2000/svg" width="23.135" height="18.407" viewBox="0 0 23.135 18.407">
    //-       <path d="M1492.669,1084.9h-2.188a2.295,2.295,0,0,0-4.4,0h-2.305v-2.673h.179a.32.32,0,0,0,.327-.313v-.426h1.086a1.89,1.89,0,0,0,1.3-.538l.535-.508a1.226,1.226,0,0,1,.838-.355h3.27a.835.835,0,0,0,.576-.235,1.016,1.016,0,0,0,.307-.772.948.948,0,0,0-.908-.952h-3.245a1.891,1.891,0,0,0-1.3.538l-.536.509a1.226,1.226,0,0,1-.838.355h-1.086v-.427a.321.321,0,0,0-.327-.314h-.179v-.2a2.153,2.153,0,0,0-2.224-2.069h-.243a2.153,2.153,0,0,0-2.224,2.069v.2h-.18a.321.321,0,0,0-.327.314v.427h-.75a.859.859,0,0,0-.884.829v.3a.859.859,0,0,0,.884.829h.75v.426a.32.32,0,0,0,.327.313h.18v2.673h-2.305a2.3,2.3,0,0,0-4.4,0h-2.188a.323.323,0,0,0-.329.314v7.755a.323.323,0,0,0,.329.314h2.188a2.3,2.3,0,0,0,4.4,0h9.3a2.295,2.295,0,0,0,4.4,0h2.188a.323.323,0,0,0,.33-.314v-7.755a.322.322,0,0,0-.33-.314m-12.927-6.112v-.2a1.511,1.511,0,0,1,1.568-1.443h.243a1.511,1.511,0,0,1,1.567,1.443v.2Zm-.507,2.812v-2.184h4.392v2.184h-4.392Zm5.048-.74v-.705h1.086a1.888,1.888,0,0,0,1.3-.539l.535-.508a1.229,1.229,0,0,1,.838-.355h3.245c.128,0,.248.162.252.34a.425.425,0,0,1-.112.312.175.175,0,0,1-.115.053h-3.27a1.89,1.89,0,0,0-1.3.538l-.536.509a1.218,1.218,0,0,1-.838.355Zm-5.7-.705v.705h-.749a.216.216,0,0,1-.227-.2v-.3a.216.216,0,0,1,.227-.2Zm11.957,5.372h1.806v7.129h-1.806Zm-11.124,0h6.615v.79h-8.447a.314.314,0,1,0,0,.627h8.447v5.714h-9.191v-7.13Zm3.708-.627h-.105v-2.493a.3.3,0,0,0-.061-.181h.167Zm-.7-2.673a.306.306,0,0,0-.061.181v2.493h-2.617v-2.673Zm4.263,3.121a1.511,1.511,0,0,1,1.269-1.428v10.345a1.511,1.511,0,0,1-1.269-1.429Zm1.927,8.917v-10.346a1.509,1.509,0,0,1,1.27,1.437v7.471a1.51,1.51,0,0,1-1.27,1.438m-15.626-8.917a1.51,1.51,0,0,1,1.27-1.428v10.345a1.511,1.511,0,0,1-1.27-1.429Zm1.927,8.917v-10.345a1.509,1.509,0,0,1,1.269,1.441v7.463a1.509,1.509,0,0,1-1.269,1.441m-2.584-1.607h-1.8v-7.13h1.8Z" transform="translate(-1469.864 -1076.515)"/>
    //-     </svg>
    //-   `
    //- },
  ]

include ../mixins/header
include ../mixins/titulos
include ../mixins/banner
head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  title @SITE_NAME@
  link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap" rel="stylesheet")