@font-face {
    font-family: 'Simplon BP';
    src: url('/assets/fonts/SimplonBP-Medium.eot');
    src: url('/assets/fonts/SimplonBP-Medium.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/SimplonBP-Medium.woff2') format('woff2'),
        url('/assets/fonts/SimplonBP-Medium.woff') format('woff'),
        url('/assets/fonts/SimplonBP-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Simplon BP';
    src: url('/assets/fonts/SimplonBP-Regular.eot');
    src: url('/assets/fonts/SimplonBP-Regular.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/SimplonBP-Regular.woff2') format('woff2'),
        url('/assets/fonts/SimplonBP-Regular.woff') format('woff'),
        url('/assets/fonts/SimplonBP-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Simplon BP';
    src: url('/assets/fonts/SimplonBP-Bold.eot');
    src: url('/assets/fonts/SimplonBP-Bold.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/SimplonBP-Bold.woff2') format('woff2'),
        url('/assets/fonts/SimplonBP-Bold.woff') format('woff'),
        url('/assets/fonts/SimplonBP-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Simplon BP';
    src: url('/assets/fonts/SimplonBP-Light.eot');
    src: url('/assets/fonts/SimplonBP-Light.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/SimplonBP-Light.woff2') format('woff2'),
        url('/assets/fonts/SimplonBP-Light.woff') format('woff'),
        url('/assets/fonts/SimplonBP-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

