section.accesos
  .accesos__container.container
    .row
      .col-xs-12.col-md-6
        .accesos__item
          .accesos__bg.bg--terciario
            img(src="/assets/accesos-01.jpg", alt="")
          .accesos__info
            .accesos__icon
              <svg xmlns="http://www.w3.org/2000/svg" width="70.683" height="74.487" viewBox="0 0 70.683 74.487">
                <path d="M1634.106,1085.084h-.248v-1.234a.991.991,0,0,0-.988-.99H1630.1v-.642a6.075,6.075,0,0,0-6.079-6.079h-47.7a6.075,6.075,0,0,0-6.079,6.079v.642h-2.719a.992.992,0,0,0-.99.99h0v4.447a.992.992,0,0,0,.99.99h2.719v2.421a6.088,6.088,0,0,0,4.793,5.98v11.961a3.629,3.629,0,0,0,3.609,3.608,3.359,3.359,0,0,0,2.421-.988l2.175-1.976a1.777,1.777,0,0,1,1.088-.445h.888a1.54,1.54,0,0,1,1.435.89l2.273,5.091a3.532,3.532,0,0,0,3.262,2.075,3.647,3.647,0,0,0,3.459-2.619l2.521-8.947a1.534,1.534,0,0,1,1.532-1.187h.445a1.982,1.982,0,0,1,1.285.545l2.077,2.422a3.959,3.959,0,0,0,2.768,1.236h.89a3.641,3.641,0,0,0,3.164-1.88l2.174-4.051a1.463,1.463,0,0,1,1.435-.791h1.087a3.064,3.064,0,0,1,1.087.346l2.175,1.878a3.6,3.6,0,0,0,2.372.89h.1a3.629,3.629,0,0,0,3.608-3.608v-4.35a6.081,6.081,0,0,0,5.782-6.079v-2.421h2.719a.991.991,0,0,0,.988-.99v-1.185h.248a1.1,1.1,0,0,1,1.087,1.087v11.764a5.408,5.408,0,0,1-3.459,5.091l-27.778,8.6a7.306,7.306,0,0,0-4.7,6.87v5.339h-1.581a2.848,2.848,0,0,0-2.817,2.817v19.128a2.848,2.848,0,0,0,2.817,2.817h5.783a2.849,2.849,0,0,0,2.817-2.817V1128.68a2.849,2.849,0,0,0-2.817-2.817h-2.175v-5.339a5.408,5.408,0,0,1,3.459-5.091l27.779-8.6a7.3,7.3,0,0,0,4.7-6.87V1088.2A3.165,3.165,0,0,0,1634.106,1085.084Zm-65.59,2.175v-2.422h1.73v2.422Zm53.777,14.977a1.647,1.647,0,0,1-1.632,1.632h-.1a3.1,3.1,0,0,1-1.087-.346l-2.077-1.878a3.593,3.593,0,0,0-2.372-.89h-1.087a3.637,3.637,0,0,0-3.163,1.878l-2.126,4a1.625,1.625,0,0,1-1.482.839h-.89a1.978,1.978,0,0,1-1.285-.543l-2.077-2.471a3.6,3.6,0,0,0-2.719-1.236h-.445a3.649,3.649,0,0,0-3.459,2.62l-2.521,8.947a1.59,1.59,0,0,1-2.965.3l-2.274-5.091a3.616,3.616,0,0,0-3.262-2.077h-.89a3.36,3.36,0,0,0-2.423.99l-2.225,2.075a1.492,1.492,0,0,1-1.087.494,1.645,1.645,0,0,1-1.632-1.63v-11.813h45.375Zm5.833-10.43a4.04,4.04,0,0,1-4.053,4.053h-47.748a4.04,4.04,0,0,1-4.053-4.053v-9.589a4.04,4.04,0,0,1,4.053-4.053h47.7a4.04,4.04,0,0,1,4.053,4.053v9.589Zm3.707-4.547h-1.73v-2.422h1.73Zm-28.52,40.58a.781.781,0,0,1,.791.791v19.129a.781.781,0,0,1-.791.791h-5.833a.78.78,0,0,1-.79-.791V1128.68a.78.78,0,0,1,.79-.791h1.632v1.335a.992.992,0,0,0,.988.988h0a.992.992,0,0,0,.988-.988h0v-1.335h2.225Z" transform="translate(-1566.537 -1076.139)" fill="#282828"/>
              </svg>
            h3.accesos__title.h1.color--secundario.text-upper.text-wide Experto
            p.accesos__desc.color--secundario Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, qui nulla! Ratione soluta dolore consequatur!
            a.accesos__btn.btn.btn--secundario.btn--redondo.btn--invertido.btn--small.btn--ancho Conoce más
      .col-xs-12.col-md-6
        .accesos__item
          .accesos__bg.bg--secundario
            img(src="/assets/accesos-02.jpg", alt="")
          .accesos__info
            .accesos__icon
              <svg xmlns="http://www.w3.org/2000/svg" width="70.683" height="74.487" viewBox="0 0 70.683 74.487">
                <path d="M1634.106,1085.084h-.248v-1.234a.991.991,0,0,0-.988-.99H1630.1v-.642a6.075,6.075,0,0,0-6.079-6.079h-47.7a6.075,6.075,0,0,0-6.079,6.079v.642h-2.719a.992.992,0,0,0-.99.99h0v4.447a.992.992,0,0,0,.99.99h2.719v2.421a6.088,6.088,0,0,0,4.793,5.98v11.961a3.629,3.629,0,0,0,3.609,3.608,3.359,3.359,0,0,0,2.421-.988l2.175-1.976a1.777,1.777,0,0,1,1.088-.445h.888a1.54,1.54,0,0,1,1.435.89l2.273,5.091a3.532,3.532,0,0,0,3.262,2.075,3.647,3.647,0,0,0,3.459-2.619l2.521-8.947a1.534,1.534,0,0,1,1.532-1.187h.445a1.982,1.982,0,0,1,1.285.545l2.077,2.422a3.959,3.959,0,0,0,2.768,1.236h.89a3.641,3.641,0,0,0,3.164-1.88l2.174-4.051a1.463,1.463,0,0,1,1.435-.791h1.087a3.064,3.064,0,0,1,1.087.346l2.175,1.878a3.6,3.6,0,0,0,2.372.89h.1a3.629,3.629,0,0,0,3.608-3.608v-4.35a6.081,6.081,0,0,0,5.782-6.079v-2.421h2.719a.991.991,0,0,0,.988-.99v-1.185h.248a1.1,1.1,0,0,1,1.087,1.087v11.764a5.408,5.408,0,0,1-3.459,5.091l-27.778,8.6a7.306,7.306,0,0,0-4.7,6.87v5.339h-1.581a2.848,2.848,0,0,0-2.817,2.817v19.128a2.848,2.848,0,0,0,2.817,2.817h5.783a2.849,2.849,0,0,0,2.817-2.817V1128.68a2.849,2.849,0,0,0-2.817-2.817h-2.175v-5.339a5.408,5.408,0,0,1,3.459-5.091l27.779-8.6a7.3,7.3,0,0,0,4.7-6.87V1088.2A3.165,3.165,0,0,0,1634.106,1085.084Zm-65.59,2.175v-2.422h1.73v2.422Zm53.777,14.977a1.647,1.647,0,0,1-1.632,1.632h-.1a3.1,3.1,0,0,1-1.087-.346l-2.077-1.878a3.593,3.593,0,0,0-2.372-.89h-1.087a3.637,3.637,0,0,0-3.163,1.878l-2.126,4a1.625,1.625,0,0,1-1.482.839h-.89a1.978,1.978,0,0,1-1.285-.543l-2.077-2.471a3.6,3.6,0,0,0-2.719-1.236h-.445a3.649,3.649,0,0,0-3.459,2.62l-2.521,8.947a1.59,1.59,0,0,1-2.965.3l-2.274-5.091a3.616,3.616,0,0,0-3.262-2.077h-.89a3.36,3.36,0,0,0-2.423.99l-2.225,2.075a1.492,1.492,0,0,1-1.087.494,1.645,1.645,0,0,1-1.632-1.63v-11.813h45.375Zm5.833-10.43a4.04,4.04,0,0,1-4.053,4.053h-47.748a4.04,4.04,0,0,1-4.053-4.053v-9.589a4.04,4.04,0,0,1,4.053-4.053h47.7a4.04,4.04,0,0,1,4.053,4.053v9.589Zm3.707-4.547h-1.73v-2.422h1.73Zm-28.52,40.58a.781.781,0,0,1,.791.791v19.129a.781.781,0,0,1-.791.791h-5.833a.78.78,0,0,1-.79-.791V1128.68a.78.78,0,0,1,.79-.791h1.632v1.335a.992.992,0,0,0,.988.988h0a.992.992,0,0,0,.988-.988h0v-1.335h2.225Z" transform="translate(-1566.537 -1076.139)" fill="#282828"/>
              </svg>
            h3.accesos__title.h1.color--primario.text-upper.text-wide Preferente
            p.accesos__desc.color--blanco Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, qui nulla! Ratione soluta dolore consequatur!
            a.accesos__btn.btn.btn--primario.btn--redondo.btn--small.btn--ancho Conoce más