.breadcrumbs
  .breadcrumbs__item
    a.breadcrumbs__link(href="#") Inicio
  .breadcrumbs__item
    span.breadcrumbs__separator
      i.fas.fa-chevron-right.fa-xs
  .breadcrumbs__item
    span.breadcrumbs__current Pagina actual