section.categorias
  .categorias__bg
    img(src="/assets/categorias-bg.jpg" alt="Categorías")
  .container
    .categorias__info
      +titulos('Categorías', 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia repellendus sunt pariatur aperiam maiores culpa vel quam dolores reprehenderit nam!', 'blanco' )
      //- h2.categorias__title.h1.color--blanco.text-upper.text-wide Categorías 
      //- p.categorias__desc.color--blanco Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt doloremque deleniti at iusto! Facilis enim mollitia, incidunt cum impedit autem deserunt sunt eligendi aperiam asperiores amet harum sed pariatur rerum?
    .row
      each cat in categorias
        .col-xs-12.col-sm-6.col-lg-4
          a(href="#").categorias__item
            .categorias__item__bg
              img(src=`/assets/categorias/${cat.slug}.jpg`, alt=cat.title)
            .categorias__item__info(class=`bg--${cat.color}`)
              .categorias__item__icon!=cat.icon
              .categorias__item__title(class=`color--${cat.color == 'terciario' ? 'secundario' : 'blanco'}`)=cat.title
