.dashboard__stats
  .dashboard__stats__item 
    .dashboard__stats__icon
      i.fas.fa-icon
    .dashboard__stats__value $3.508.827
    .dashboard__stats__label Total Compras
  .dashboard__stats__item 
    .dashboard__stats__icon
      i.fas.fa-icon
    .dashboard__stats__value $3.508.827
    .dashboard__stats__label Total Compras
  .dashboard__stats__item 
    .dashboard__stats__icon
      i.fas.fa-icon
    .dashboard__stats__value $3.508.827
    .dashboard__stats__label Total Compras