.dashboard__side
  .dashboard__side__container
    .dashboard__side__card.card
      .card__image
        img(src=placeholder(250,250), alt="Javier")
      .card__name ¡Hola! Javier Sepúlveda
      .card__id 16.742.876-7
      .card__title Experto prederente
    .dashboard__menu
      input.dashboard__menu__open(type="checkbox")
      .dashboard__menu__burger Menú
        i.fas.fa-bars.fa-lg
      ul.dashboard__menu__list
        li.dashboard__menu__item
          a(href="#").dashboard__menu__link
            <svg xmlns="http://www.w3.org/2000/svg" width="59.69" height="59.69" viewBox="0 0 59.69 59.69">
              <path d="M27.166,43.332A16.166,16.166,0,1,1,43.332,27.166,16.185,16.185,0,0,1,27.166,43.332Zm0-29.845A13.679,13.679,0,1,0,40.845,27.166,13.7,13.7,0,0,0,27.166,13.487Z" transform="translate(16.358 16.358)" fill="#fff"/>
              <path d="M20.218,27.436a1.257,1.257,0,0,1-.88-.363L14.363,22.1a1.243,1.243,0,0,1,1.758-1.758l4.034,4.034,7.829-8.948a1.244,1.244,0,0,1,1.873,1.636l-8.7,9.948a1.253,1.253,0,0,1-.9.425h-.04Z" transform="translate(20.819 22.306)" fill="#fff"/>
              <path d="M23.627,47.767H6.218A6.225,6.225,0,0,1,0,41.55V9.218A6.225,6.225,0,0,1,6.218,3h4.974a1.244,1.244,0,1,1,0,2.487H6.218A3.735,3.735,0,0,0,2.487,9.218V41.55A3.735,3.735,0,0,0,6.218,45.28h17.41a1.244,1.244,0,0,1,0,2.487Z" transform="translate(0 4.461)" fill="#fff"/>
              <path d="M23.192,17.922a1.244,1.244,0,0,1-1.244-1.244V9.218a3.735,3.735,0,0,0-3.731-3.731H13.244a1.244,1.244,0,0,1,0-2.487h4.974a6.225,6.225,0,0,1,6.218,6.218v7.461A1.244,1.244,0,0,1,23.192,17.922Z" transform="translate(17.845 4.461)" fill="#fff"/>
              <path d="M22.653,14.922H7.731A3.735,3.735,0,0,1,4,11.192V6.218A1.244,1.244,0,0,1,5.244,4.974H9.1a6.219,6.219,0,0,1,12.187,0H25.14a1.244,1.244,0,0,1,1.244,1.244v4.974A3.735,3.735,0,0,1,22.653,14.922ZM6.487,7.461v3.731a1.246,1.246,0,0,0,1.244,1.244H22.653A1.246,1.246,0,0,0,23.9,11.192V7.461H20.166a1.244,1.244,0,0,1-1.244-1.244,3.731,3.731,0,0,0-7.461,0,1.244,1.244,0,0,1-1.244,1.244Z" transform="translate(5.948)" fill="#fff"/>
              <path d="M29.114,10.487H4.244A1.244,1.244,0,1,1,4.244,8H29.114a1.244,1.244,0,1,1,0,2.487Z" transform="translate(4.461 11.897)" fill="#fff"/>
              <path d="M21.653,13.487H4.244a1.244,1.244,0,1,1,0-2.487h17.41a1.244,1.244,0,1,1,0,2.487Z" transform="translate(4.461 16.358)" fill="#fff"/>
              <path d="M16.679,16.487H4.244a1.244,1.244,0,1,1,0-2.487H16.679a1.244,1.244,0,1,1,0,2.487Z" transform="translate(4.461 20.819)" fill="#fff"/>
            </svg>
            span Mis datos #[em Lorem ipsum dolor sit amet consectetur.]
        li.dashboard__menu__item
          a(href="#").dashboard__menu__link
            <svg xmlns="http://www.w3.org/2000/svg" width="52.86" height="38.984" viewBox="0 0 52.86 38.984">
              <g transform="translate(0 5.25)">
                <path d="M120.318,93.137a5.693,5.693,0,1,0-5.693-5.693A5.694,5.694,0,0,0,120.318,93.137Zm0-9.173a3.491,3.491,0,1,1-3.491,3.491A3.491,3.491,0,0,1,120.318,83.964Zm0,0" transform="translate(-104.527 -79.335)" fill="#fff"/>
                <path d="M88.744,234.873a8.544,8.544,0,0,0-6.189,2.588A9.134,9.134,0,0,0,80,243.925a1.1,1.1,0,0,0,1.1,1.1H96.386a1.1,1.1,0,0,0,1.1-1.1,9.134,9.134,0,0,0-2.555-6.464A8.544,8.544,0,0,0,88.744,234.873Zm-6.464,7.951A6.737,6.737,0,0,1,84.13,239a6.487,6.487,0,0,1,9.228,0,6.768,6.768,0,0,1,1.85,3.821Zm0,0" transform="translate(-72.952 -218.968)" fill="#fff"/>
                <path d="M47.353-5.25H5.506A5.509,5.509,0,0,0,0,.256V28.228a5.509,5.509,0,0,0,5.506,5.506H47.353a5.509,5.509,0,0,0,5.506-5.506V.256A5.509,5.509,0,0,0,47.353-5.25Zm3.3,33.478a3.313,3.313,0,0,1-3.3,3.3H5.506a3.313,3.313,0,0,1-3.3-3.3V.256a3.313,3.313,0,0,1,3.3-3.3H47.353a3.313,3.313,0,0,1,3.3,3.3Zm0,0" fill="#fff"/>
                <path d="M362.556,203.5H349.726a1.1,1.1,0,0,0,0,2.2h12.829a1.1,1.1,0,1,0,0-2.2Zm0,0" transform="translate(-317.911 -190.359)" fill="#fff"/>
                <path d="M362.556,283.5H349.726a1.1,1.1,0,0,0,0,2.2h12.829a1.1,1.1,0,1,0,0-2.2Zm0,0" transform="translate(-317.911 -263.311)" fill="#fff"/>
                <path d="M362.556,123.5H349.726a1.1,1.1,0,0,0,0,2.2h12.829a1.1,1.1,0,1,0,0-2.2Zm0,0" transform="translate(-317.911 -117.407)" fill="#fff"/>
              </g>
            </svg>
            span Mi credencial #[em Lorem ipsum dolor sit amet consectetur.]
        li.dashboard__menu__item
          a(href="#").dashboard__menu__link.active
            <svg xmlns="http://www.w3.org/2000/svg" width="59.69" height="59.69" viewBox="0 0 59.69 59.69">
              <path d="M27.166,43.332A16.166,16.166,0,1,1,43.332,27.166,16.185,16.185,0,0,1,27.166,43.332Zm0-29.845A13.679,13.679,0,1,0,40.845,27.166,13.7,13.7,0,0,0,27.166,13.487Z" transform="translate(16.358 16.358)" fill="#fff"/>
              <path d="M20.218,27.436a1.257,1.257,0,0,1-.88-.363L14.363,22.1a1.243,1.243,0,0,1,1.758-1.758l4.034,4.034,7.829-8.948a1.244,1.244,0,0,1,1.873,1.636l-8.7,9.948a1.253,1.253,0,0,1-.9.425h-.04Z" transform="translate(20.819 22.306)" fill="#fff"/>
              <path d="M23.627,47.767H6.218A6.225,6.225,0,0,1,0,41.55V9.218A6.225,6.225,0,0,1,6.218,3h4.974a1.244,1.244,0,1,1,0,2.487H6.218A3.735,3.735,0,0,0,2.487,9.218V41.55A3.735,3.735,0,0,0,6.218,45.28h17.41a1.244,1.244,0,0,1,0,2.487Z" transform="translate(0 4.461)" fill="#fff"/>
              <path d="M23.192,17.922a1.244,1.244,0,0,1-1.244-1.244V9.218a3.735,3.735,0,0,0-3.731-3.731H13.244a1.244,1.244,0,0,1,0-2.487h4.974a6.225,6.225,0,0,1,6.218,6.218v7.461A1.244,1.244,0,0,1,23.192,17.922Z" transform="translate(17.845 4.461)" fill="#fff"/>
              <path d="M22.653,14.922H7.731A3.735,3.735,0,0,1,4,11.192V6.218A1.244,1.244,0,0,1,5.244,4.974H9.1a6.219,6.219,0,0,1,12.187,0H25.14a1.244,1.244,0,0,1,1.244,1.244v4.974A3.735,3.735,0,0,1,22.653,14.922ZM6.487,7.461v3.731a1.246,1.246,0,0,0,1.244,1.244H22.653A1.246,1.246,0,0,0,23.9,11.192V7.461H20.166a1.244,1.244,0,0,1-1.244-1.244,3.731,3.731,0,0,0-7.461,0,1.244,1.244,0,0,1-1.244,1.244Z" transform="translate(5.948)" fill="#fff"/>
              <path d="M29.114,10.487H4.244A1.244,1.244,0,1,1,4.244,8H29.114a1.244,1.244,0,1,1,0,2.487Z" transform="translate(4.461 11.897)" fill="#fff"/>
              <path d="M21.653,13.487H4.244a1.244,1.244,0,1,1,0-2.487h17.41a1.244,1.244,0,1,1,0,2.487Z" transform="translate(4.461 16.358)" fill="#fff"/>
              <path d="M16.679,16.487H4.244a1.244,1.244,0,1,1,0-2.487H16.679a1.244,1.244,0,1,1,0,2.487Z" transform="translate(4.461 20.819)" fill="#fff"/>
            </svg>
            span Mis datos #[em Lorem ipsum dolor sit amet consectetur.]
        li.dashboard__menu__item
          a(href="#").dashboard__menu__link
            <svg xmlns="http://www.w3.org/2000/svg" width="59.69" height="59.69" viewBox="0 0 59.69 59.69">
              <path d="M27.166,43.332A16.166,16.166,0,1,1,43.332,27.166,16.185,16.185,0,0,1,27.166,43.332Zm0-29.845A13.679,13.679,0,1,0,40.845,27.166,13.7,13.7,0,0,0,27.166,13.487Z" transform="translate(16.358 16.358)" fill="#fff"/>
              <path d="M20.218,27.436a1.257,1.257,0,0,1-.88-.363L14.363,22.1a1.243,1.243,0,0,1,1.758-1.758l4.034,4.034,7.829-8.948a1.244,1.244,0,0,1,1.873,1.636l-8.7,9.948a1.253,1.253,0,0,1-.9.425h-.04Z" transform="translate(20.819 22.306)" fill="#fff"/>
              <path d="M23.627,47.767H6.218A6.225,6.225,0,0,1,0,41.55V9.218A6.225,6.225,0,0,1,6.218,3h4.974a1.244,1.244,0,1,1,0,2.487H6.218A3.735,3.735,0,0,0,2.487,9.218V41.55A3.735,3.735,0,0,0,6.218,45.28h17.41a1.244,1.244,0,0,1,0,2.487Z" transform="translate(0 4.461)" fill="#fff"/>
              <path d="M23.192,17.922a1.244,1.244,0,0,1-1.244-1.244V9.218a3.735,3.735,0,0,0-3.731-3.731H13.244a1.244,1.244,0,0,1,0-2.487h4.974a6.225,6.225,0,0,1,6.218,6.218v7.461A1.244,1.244,0,0,1,23.192,17.922Z" transform="translate(17.845 4.461)" fill="#fff"/>
              <path d="M22.653,14.922H7.731A3.735,3.735,0,0,1,4,11.192V6.218A1.244,1.244,0,0,1,5.244,4.974H9.1a6.219,6.219,0,0,1,12.187,0H25.14a1.244,1.244,0,0,1,1.244,1.244v4.974A3.735,3.735,0,0,1,22.653,14.922ZM6.487,7.461v3.731a1.246,1.246,0,0,0,1.244,1.244H22.653A1.246,1.246,0,0,0,23.9,11.192V7.461H20.166a1.244,1.244,0,0,1-1.244-1.244,3.731,3.731,0,0,0-7.461,0,1.244,1.244,0,0,1-1.244,1.244Z" transform="translate(5.948)" fill="#fff"/>
              <path d="M29.114,10.487H4.244A1.244,1.244,0,1,1,4.244,8H29.114a1.244,1.244,0,1,1,0,2.487Z" transform="translate(4.461 11.897)" fill="#fff"/>
              <path d="M21.653,13.487H4.244a1.244,1.244,0,1,1,0-2.487h17.41a1.244,1.244,0,1,1,0,2.487Z" transform="translate(4.461 16.358)" fill="#fff"/>
              <path d="M16.679,16.487H4.244a1.244,1.244,0,1,1,0-2.487H16.679a1.244,1.244,0,1,1,0,2.487Z" transform="translate(4.461 20.819)" fill="#fff"/>
            </svg>
            span Mis datos #[em Lorem ipsum dolor sit amet consectetur.]
        li.dashboard__menu__item
          a(href="#").dashboard__menu__link
            <svg xmlns="http://www.w3.org/2000/svg" width="59.69" height="59.69" viewBox="0 0 59.69 59.69">
              <path d="M27.166,43.332A16.166,16.166,0,1,1,43.332,27.166,16.185,16.185,0,0,1,27.166,43.332Zm0-29.845A13.679,13.679,0,1,0,40.845,27.166,13.7,13.7,0,0,0,27.166,13.487Z" transform="translate(16.358 16.358)" fill="#fff"/>
              <path d="M20.218,27.436a1.257,1.257,0,0,1-.88-.363L14.363,22.1a1.243,1.243,0,0,1,1.758-1.758l4.034,4.034,7.829-8.948a1.244,1.244,0,0,1,1.873,1.636l-8.7,9.948a1.253,1.253,0,0,1-.9.425h-.04Z" transform="translate(20.819 22.306)" fill="#fff"/>
              <path d="M23.627,47.767H6.218A6.225,6.225,0,0,1,0,41.55V9.218A6.225,6.225,0,0,1,6.218,3h4.974a1.244,1.244,0,1,1,0,2.487H6.218A3.735,3.735,0,0,0,2.487,9.218V41.55A3.735,3.735,0,0,0,6.218,45.28h17.41a1.244,1.244,0,0,1,0,2.487Z" transform="translate(0 4.461)" fill="#fff"/>
              <path d="M23.192,17.922a1.244,1.244,0,0,1-1.244-1.244V9.218a3.735,3.735,0,0,0-3.731-3.731H13.244a1.244,1.244,0,0,1,0-2.487h4.974a6.225,6.225,0,0,1,6.218,6.218v7.461A1.244,1.244,0,0,1,23.192,17.922Z" transform="translate(17.845 4.461)" fill="#fff"/>
              <path d="M22.653,14.922H7.731A3.735,3.735,0,0,1,4,11.192V6.218A1.244,1.244,0,0,1,5.244,4.974H9.1a6.219,6.219,0,0,1,12.187,0H25.14a1.244,1.244,0,0,1,1.244,1.244v4.974A3.735,3.735,0,0,1,22.653,14.922ZM6.487,7.461v3.731a1.246,1.246,0,0,0,1.244,1.244H22.653A1.246,1.246,0,0,0,23.9,11.192V7.461H20.166a1.244,1.244,0,0,1-1.244-1.244,3.731,3.731,0,0,0-7.461,0,1.244,1.244,0,0,1-1.244,1.244Z" transform="translate(5.948)" fill="#fff"/>
              <path d="M29.114,10.487H4.244A1.244,1.244,0,1,1,4.244,8H29.114a1.244,1.244,0,1,1,0,2.487Z" transform="translate(4.461 11.897)" fill="#fff"/>
              <path d="M21.653,13.487H4.244a1.244,1.244,0,1,1,0-2.487h17.41a1.244,1.244,0,1,1,0,2.487Z" transform="translate(4.461 16.358)" fill="#fff"/>
              <path d="M16.679,16.487H4.244a1.244,1.244,0,1,1,0-2.487H16.679a1.244,1.244,0,1,1,0,2.487Z" transform="translate(4.461 20.819)" fill="#fff"/>
            </svg>
            span Mis datos #[em Lorem ipsum dolor sit amet consectetur.]