.newsletter
  .newsletter__container.container
    form.newsletter__form
      .newsletter__item.newsletter__item--info
        h3.newsletter__title.text-wide.text-upper Suscríbete al newsletter
        p.newsletter__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem odit quam nulla dicta labore. Ullam.
      .newsletter__item.newsletter__item--inputs
        input.newsletter__input#newsletter(type="email" name="newsletter" placeholder="nombre@tudominio.com")
        button.newsletter__btn.btn.btn--secundario.btn--small.btn--redondo Enviar