section.slider.swiper--custom
  .slider__container.swiper-container
    .slider__wrapper.swiper-wrapper 
      - for (let i = 0; i < 6; i++)  {
        .slider__item.swiper-slide
          .slider__bg
            img(src="/assets/slider-bg-01.jpg" alt="Mundo Experto")
          .slider__content.container
            h2.slider__title.h1.text-upper.text-wide Mundo Experto
            p.slider__desc En Easy recompensamos a nuestros clientes frecuentes con increíbles descuentos. Mundo Experto es el club de beneficios que brinda beneficios exclusivos a todos y todas quienes se dedican al mejoramiento del hogar.
      - }
    .slider__pagination.swiper-pagination
    .slider__button-prev.swiper-button-prev 
    .slider__button-next.swiper-button-next
  .slider__bottom
    .slider__bottom__bg
      img(src="/assets/slider-bottom.jpg", alt="")