section.socios-estrategicos
  .socios-estrategicos__container.container
    +titulos('Socios estratégicos', 'Conoce a nuestros socios', 'secundario')
    //- h2.socios-estrategicos__title.h1 Socios estratégicos
    //- p.socios-estrategicos__subtitle Conoce a nuestros socios
    .socios-estrategicos__grid
       - for (let i = 0; i < 11; i++) {
         .socios-estrategicos__item
          img(src=placeholder(320, 130), alt="")
       - }