section.section.temas-interes
  picture.temas-interes__bg
    img(src="/assets/temas-interes-bg.jpg" alt="Temas de interés")
  .temas-interes__container.container
    +titulos('Temas de interés', '', 'blanco')
    .temas-interes__grid
      - for (let i = 0; i < 4; i++) {
        .temas-interes__item 
          picture.temas-interes__image
            img(src="/assets/temas-interes-item.jpg" alt="")
          h3.temas-interes__item__title.color--blanco Lorem ipsum dolor sit amet.
          p.temas-interes__item__desc.color--blanco Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas, minima quod. Tempore doloribus itaque facilis atque, cum quam. Eaque, amet.
          a(href="#").btn.btn--small.btn--redondo.btn--invertido.btn--terciario + Ver más
      - }
    