section.section.testimonios
  picture.testimonios__bg
    img(src="/assets/testimonios-bg.jpg", alt="Temas de interés")
  .testimonios__container.container
    .testimonios__info
      +titulos('Testimonios', 'Conoce la experiencia de nuestros clientes', 'secundario')
      //- h2.testimonios__title.h1.color--secundario.text-upper.text-wide Testimonios
      //- p.testimonios__subtitle.color--secundario Conoce la experiencia de nuestros clientes
    .testimonios__carousel.swiper--custom 
      .swiper-container
        .testimonios__wrapper.swiper-wrapper
          - for (let i = 0; i < 4; i++) {
            .testimonios__item.swiper-slide
              .testimonios__item__bg 
                img(src="/assets/testimonios-item-bg.jpg", alt="")
              .testimonios__item__content
                picture.testimonios__image
                  img(src=placeholder(280,280), alt="")
                h3.testimonios__name.text-upper.text-wide.color--terciario Mario González Muñoz.
                h4.testimonios__cargo Contratista
                h5.testimonios__lugar
                  i.fas.fa-map-marker-alt
                  | Santiago
                p.testimonios__desc
                  i.fas.fa-quote-left
                  | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas, minima quod. Tempore doloribus itaque facilis atque, cum quam. Eaque, amet.
                  i.fas.fa-quote-right
          - }
        .testimonios__pagination.swiper-pagination
      .testimonios__button-prev.swiper-button-prev(data-swiper-prev) 
      .testimonios__button-next.swiper-button-next(data-swiper-next)