html(lang="es")
  include ./includes/head
  body
    main
      +header('pages')
      +banner('Horarios y Tiendas', '../../assets/temas-interes-bg.jpg')
      include ./components/newsletter
      .container.form#buscador-tiendas
        
        .row 
          .col-xs-12
            .row.align-bottom-xs
              .col-xs-12.col-md-6.col-lg-4
                .form__grupo
                  .icono
                    i.fas.fa-chevron-down   
                  select.zonas(name="zonas" disabled)
                    option(value="" hidden selected) Seleccionar
                  label(for="zonas") Selecciona Zona 
                   
          .col-xs-12
            #mapa.mapa
              .preloader
                .preloader__child

    include ./includes/footer