include ./mixins/header
html(lang="es")
  include ./includes/head
  body
    main.home
      //- include ./includes/header
      +header()
      include ./components/slider
      include ./components/accesos
      include ./components/descuento
      include ./components/categorias
      include ./components/temas-interes
      include ./components/testimonios
      include ./components/socios-estrategicos
      include ./includes/footer