include ./mixins/header
html(lang="es")
  include ./includes/head
  body
    main.interior
      // include ./includes/header
      +header('pages')
      section.login
        .login__bg
          img(src="/assets/login-bg.jpg" alt="Login")
        .login__container.container
          .login__form
            form.form.login__form__content
              +titulos('Iniciar sesión', 'Escribe tus datos de seguridad para entrar a tu sesión. ', 'secundario')
              .separador
              fieldset.form__fieldset 
                .form__grupo 
                  input.text#rut(type="text" name="rut" placeholder="11.111.111-1") 
                  label(for="rut") RUT
                .form__grupo 
                  input.text#pass(type="password" name="pass" placeholder="•••••••••") 
                  label(for="pass") Contraseña
                .form__checkbox
                  input#recordar(type="checkbox" name="recordar")
                  .form__checkbox__item
                  label(for="recordar") Recordar
                .separador
                a(href="#").btn.btn--small.btn--redondo.btn--invertido.btn--terciario.btn--ancho Ingresar
            footer.login__footer
              .login__footer__item
                a(href="#").link-externo He olvidado mi contraseña
              .login__footer__item
                p ¿Aún no estás inscrito?
                .separador--small
                a(href="#").btn.btn--primario.btn--redondo.btn--small.btn--ancho.btn--icono
                  i.fas.fa-clipboard-list
                  | Regístrate

      include ./includes/footer