html(lang="es")
  include ./includes/head
  body
    main.single
      +header('pages')
      +banner('Preguntas Frecuentes', '/assets/temas-interes-bg.jpg')
      .container
        .row
          .col-xs-12.col-lg-3
            aside.sidebar 
              form.sidebar__buscador
                input#buscador(type="text" name="buscador" placeholder="Buscar...")
                button.sidebar__buscador__button
                  i.fas.fa-search
              .sidebar__preguntas
                - for (let i = 0; i < 8; i++){
                  a(href="#").sidebar__preguntas__item
                    //- .sidebar__preguntas__image
                    //-   img(src=placeholder(250,250), alt="")
                    .sidebar__preguntas__content
                      h3.sidebar__preguntas__title Lorem ipsum dolor sit amet consectetur.
                - }

          .col-xs-12.col-lg-9
            .content.content--inside
              <div data-accordion-component="Accordion" class="accordion">
                <div data-accordion-component="AccordionItem" class="accordion__item">
                    <div data-accordion-component="AccordionItemHeading" role="heading" class="accordion__heading" aria-level="3">
                      <div class="accordion__button" id="accordion__heading-raa-0" aria-disabled="false" aria-expanded="false" aria-controls="accordion__panel-raa-0" role="button" tabindex="0" data-accordion-component="AccordionItemButton">
                          | Pregunta 1
                          <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-down" class="svg-inline--fa fa-chevron-down fa-w-14 " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                            <path fill="currentColor" d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z"></path>
                          </svg>
                      </div>
                    </div>
                    <div data-accordion-component="AccordionItemPanel" class="accordion__panel" role="region" aria-labelledby="accordion__heading-raa-0" id="accordion__panel-raa-0" hidden="">
                      <div class="content">
                          <h1>Lorem ipsum dolor sit amet consectetur.</h1>
                          <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, eaque.</h2>
                          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus, architecto. Officia hic sapiente similique, repellendus animi dolor earum ducimus quia, ea fugiat ullam quidem suscipit illum nulla molestiae eaque alias. Minus eaque temporibus alias quo tenetur vitae quis nesciunt voluptate! Voluptatum necessitatibus illo veritatis magnam dolor neque eos animi iure.</p>
                          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit iste illum assumenda inventore dolores, labore non ratione fuga nulla? Perferendis recusandae error aspernatur quod provident nesciunt tempora, facilis qui ut eos ex quia minus iusto doloribus, eaque velit totam eum officia veritatis fugiat magnam aperiam! Facere eaque in quos similique id error perspiciatis atque! Sed, id ipsa? Eligendi soluta impedit libero voluptatibus modi maiores dolore saepe distinctio culpa minima sit iusto, aspernatur aliquam? Sequi reprehenderit dolore soluta necessitatibus qui voluptatum porro quod accusamus ad molestias fugiat nobis illo, id blanditiis corrupti quis esse rem provident delectus assumenda! Quaerat, tempora blanditiis.</p>
                          <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ducimus.</h3>
                          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis doloribus dolor a, distinctio porro cum soluta vitae delectus quas error repudiandae impedit voluptates fugiat minus. A architecto dolor sed facilis suscipit saepe dolores laudantium at, itaque, dicta neque? Dignissimos magnam libero explicabo, cumque fuga doloremque nisi inventore corporis ad fugit officiis exercitationem accusantium est autem quaerat minima et, sapiente accusamus nemo? Quas magnam inventore numquam qui, blanditiis illum officia libero neque delectus, asperiores commodi doloremque. Expedita quia veniam aliquam nemo consequatur iure aut quis totam, voluptate corrupti perspiciatis nostrum assumenda nam omnis impedit nesciunt facere odio similique excepturi, nulla aliquid?</p>
                      </div>
                    </div>
                </div>
                <div data-accordion-component="AccordionItem" class="accordion__item">
                    <div data-accordion-component="AccordionItemHeading" role="heading" class="accordion__heading" aria-level="3">
                      <div class="accordion__button" id="accordion__heading-raa-1" aria-disabled="false" aria-expanded="false" aria-controls="accordion__panel-raa-1" role="button" tabindex="0" data-accordion-component="AccordionItemButton">
                          | Pregunta 2
                          <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-down" class="svg-inline--fa fa-chevron-down fa-w-14 " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                            <path fill="currentColor" d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z"></path>
                          </svg>
                      </div>
                    </div>
                    <div data-accordion-component="AccordionItemPanel" class="accordion__panel" role="region" aria-labelledby="accordion__heading-raa-1" id="accordion__panel-raa-1" hidden="">
                      <div class="content">
                          <h1>Lorem ipsum dolor sit amet consectetur.</h1>
                          <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, eaque.</h2>
                          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus, architecto. Officia hic sapiente similique, repellendus animi dolor earum ducimus quia, ea fugiat ullam quidem suscipit illum nulla molestiae eaque alias. Minus eaque temporibus alias quo tenetur vitae quis nesciunt voluptate! Voluptatum necessitatibus illo veritatis magnam dolor neque eos animi iure.</p>
                          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit iste illum assumenda inventore dolores, labore non ratione fuga nulla? Perferendis recusandae error aspernatur quod provident nesciunt tempora, facilis qui ut eos ex quia minus iusto doloribus, eaque velit totam eum officia veritatis fugiat magnam aperiam! Facere eaque in quos similique id error perspiciatis atque! Sed, id ipsa? Eligendi soluta impedit libero voluptatibus modi maiores dolore saepe distinctio culpa minima sit iusto, aspernatur aliquam? Sequi reprehenderit dolore soluta necessitatibus qui voluptatum porro quod accusamus ad molestias fugiat nobis illo, id blanditiis corrupti quis esse rem provident delectus assumenda! Quaerat, tempora blanditiis.</p>
                          <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ducimus.</h3>
                          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis doloribus dolor a, distinctio porro cum soluta vitae delectus quas error repudiandae impedit voluptates fugiat minus. A architecto dolor sed facilis suscipit saepe dolores laudantium at, itaque, dicta neque? Dignissimos magnam libero explicabo, cumque fuga doloremque nisi inventore corporis ad fugit officiis exercitationem accusantium est autem quaerat minima et, sapiente accusamus nemo? Quas magnam inventore numquam qui, blanditiis illum officia libero neque delectus, asperiores commodi doloremque. Expedita quia veniam aliquam nemo consequatur iure aut quis totam, voluptate corrupti perspiciatis nostrum assumenda nam omnis impedit nesciunt facere odio similique excepturi, nulla aliquid?</p>
                      </div>
                    </div>
                </div>
                <div data-accordion-component="AccordionItem" class="accordion__item accordion__item--active">
                    <div data-accordion-component="AccordionItemHeading" role="heading" class="accordion__heading" aria-level="3">
                      <div class="accordion__button" id="accordion__heading-raa-2" aria-disabled="true" aria-expanded="true" aria-controls="accordion__panel-raa-2" role="button" tabindex="0" data-accordion-component="AccordionItemButton">
                          | Pregunta 3
                          <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-up" class="svg-inline--fa fa-chevron-up fa-w-14 " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                            <path fill="currentColor" d="M240.971 130.524l194.343 194.343c9.373 9.373 9.373 24.569 0 33.941l-22.667 22.667c-9.357 9.357-24.522 9.375-33.901.04L224 227.495 69.255 381.516c-9.379 9.335-24.544 9.317-33.901-.04l-22.667-22.667c-9.373-9.373-9.373-24.569 0-33.941L207.03 130.525c9.372-9.373 24.568-9.373 33.941-.001z"></path>
                          </svg>
                      </div>
                    </div>
                    <div data-accordion-component="AccordionItemPanel" class="accordion__panel" role="region" aria-labelledby="accordion__heading-raa-2" id="accordion__panel-raa-2">
                      <div class="content">
                          <h1>Lorem ipsum dolor sit amet consectetur.</h1>
                          <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, eaque.</h2>
                          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus, architecto. Officia hic sapiente similique, repellendus animi dolor earum ducimus quia, ea fugiat ullam quidem suscipit illum nulla molestiae eaque alias. Minus eaque temporibus alias quo tenetur vitae quis nesciunt voluptate! Voluptatum necessitatibus illo veritatis magnam dolor neque eos animi iure.</p>
                          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit iste illum assumenda inventore dolores, labore non ratione fuga nulla? Perferendis recusandae error aspernatur quod provident nesciunt tempora, facilis qui ut eos ex quia minus iusto doloribus, eaque velit totam eum officia veritatis fugiat magnam aperiam! Facere eaque in quos similique id error perspiciatis atque! Sed, id ipsa? Eligendi soluta impedit libero voluptatibus modi maiores dolore saepe distinctio culpa minima sit iusto, aspernatur aliquam? Sequi reprehenderit dolore soluta necessitatibus qui voluptatum porro quod accusamus ad molestias fugiat nobis illo, id blanditiis corrupti quis esse rem provident delectus assumenda! Quaerat, tempora blanditiis.</p>
                          <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ducimus.</h3>
                          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis doloribus dolor a, distinctio porro cum soluta vitae delectus quas error repudiandae impedit voluptates fugiat minus. A architecto dolor sed facilis suscipit saepe dolores laudantium at, itaque, dicta neque? Dignissimos magnam libero explicabo, cumque fuga doloremque nisi inventore corporis ad fugit officiis exercitationem accusantium est autem quaerat minima et, sapiente accusamus nemo? Quas magnam inventore numquam qui, blanditiis illum officia libero neque delectus, asperiores commodi doloremque. Expedita quia veniam aliquam nemo consequatur iure aut quis totam, voluptate corrupti perspiciatis nostrum assumenda nam omnis impedit nesciunt facere odio similique excepturi, nulla aliquid?</p>
                      </div>
                    </div>
                </div>
                <div data-accordion-component="AccordionItem" class="accordion__item">
                    <div data-accordion-component="AccordionItemHeading" role="heading" class="accordion__heading" aria-level="3">
                      <div class="accordion__button" id="accordion__heading-raa-3" aria-disabled="false" aria-expanded="false" aria-controls="accordion__panel-raa-3" role="button" tabindex="0" data-accordion-component="AccordionItemButton">
                          | Pregunta 4
                          <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-down" class="svg-inline--fa fa-chevron-down fa-w-14 " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                            <path fill="currentColor" d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z"></path>
                          </svg>
                      </div>
                    </div>
                    <div data-accordion-component="AccordionItemPanel" class="accordion__panel" role="region" aria-labelledby="accordion__heading-raa-3" id="accordion__panel-raa-3" hidden="">
                      <div class="content">
                          <h1>Lorem ipsum dolor sit amet consectetur.</h1>
                          <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, eaque.</h2>
                          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus, architecto. Officia hic sapiente similique, repellendus animi dolor earum ducimus quia, ea fugiat ullam quidem suscipit illum nulla molestiae eaque alias. Minus eaque temporibus alias quo tenetur vitae quis nesciunt voluptate! Voluptatum necessitatibus illo veritatis magnam dolor neque eos animi iure.</p>
                          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit iste illum assumenda inventore dolores, labore non ratione fuga nulla? Perferendis recusandae error aspernatur quod provident nesciunt tempora, facilis qui ut eos ex quia minus iusto doloribus, eaque velit totam eum officia veritatis fugiat magnam aperiam! Facere eaque in quos similique id error perspiciatis atque! Sed, id ipsa? Eligendi soluta impedit libero voluptatibus modi maiores dolore saepe distinctio culpa minima sit iusto, aspernatur aliquam? Sequi reprehenderit dolore soluta necessitatibus qui voluptatum porro quod accusamus ad molestias fugiat nobis illo, id blanditiis corrupti quis esse rem provident delectus assumenda! Quaerat, tempora blanditiis.</p>
                          <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ducimus.</h3>
                          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis doloribus dolor a, distinctio porro cum soluta vitae delectus quas error repudiandae impedit voluptates fugiat minus. A architecto dolor sed facilis suscipit saepe dolores laudantium at, itaque, dicta neque? Dignissimos magnam libero explicabo, cumque fuga doloremque nisi inventore corporis ad fugit officiis exercitationem accusantium est autem quaerat minima et, sapiente accusamus nemo? Quas magnam inventore numquam qui, blanditiis illum officia libero neque delectus, asperiores commodi doloremque. Expedita quia veniam aliquam nemo consequatur iure aut quis totam, voluptate corrupti perspiciatis nostrum assumenda nam omnis impedit nesciunt facere odio similique excepturi, nulla aliquid?</p>
                      </div>
                    </div>
                </div>
                <div data-accordion-component="AccordionItem" class="accordion__item">
                    <div data-accordion-component="AccordionItemHeading" role="heading" class="accordion__heading" aria-level="3">
                      <div class="accordion__button" id="accordion__heading-raa-4" aria-disabled="false" aria-expanded="false" aria-controls="accordion__panel-raa-4" role="button" tabindex="0" data-accordion-component="AccordionItemButton">
                          | Pregunta 5
                          <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-down" class="svg-inline--fa fa-chevron-down fa-w-14 " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                            <path fill="currentColor" d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z"></path>
                          </svg>
                      </div>
                    </div>
                    <div data-accordion-component="AccordionItemPanel" class="accordion__panel" role="region" aria-labelledby="accordion__heading-raa-4" id="accordion__panel-raa-4" hidden="">
                      <div class="content">
                          <h1>Lorem ipsum dolor sit amet consectetur.</h1>
                          <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, eaque.</h2>
                          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus, architecto. Officia hic sapiente similique, repellendus animi dolor earum ducimus quia, ea fugiat ullam quidem suscipit illum nulla molestiae eaque alias. Minus eaque temporibus alias quo tenetur vitae quis nesciunt voluptate! Voluptatum necessitatibus illo veritatis magnam dolor neque eos animi iure.</p>
                          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit iste illum assumenda inventore dolores, labore non ratione fuga nulla? Perferendis recusandae error aspernatur quod provident nesciunt tempora, facilis qui ut eos ex quia minus iusto doloribus, eaque velit totam eum officia veritatis fugiat magnam aperiam! Facere eaque in quos similique id error perspiciatis atque! Sed, id ipsa? Eligendi soluta impedit libero voluptatibus modi maiores dolore saepe distinctio culpa minima sit iusto, aspernatur aliquam? Sequi reprehenderit dolore soluta necessitatibus qui voluptatum porro quod accusamus ad molestias fugiat nobis illo, id blanditiis corrupti quis esse rem provident delectus assumenda! Quaerat, tempora blanditiis.</p>
                          <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ducimus.</h3>
                          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis doloribus dolor a, distinctio porro cum soluta vitae delectus quas error repudiandae impedit voluptates fugiat minus. A architecto dolor sed facilis suscipit saepe dolores laudantium at, itaque, dicta neque? Dignissimos magnam libero explicabo, cumque fuga doloremque nisi inventore corporis ad fugit officiis exercitationem accusantium est autem quaerat minima et, sapiente accusamus nemo? Quas magnam inventore numquam qui, blanditiis illum officia libero neque delectus, asperiores commodi doloremque. Expedita quia veniam aliquam nemo consequatur iure aut quis totam, voluptate corrupti perspiciatis nostrum assumenda nam omnis impedit nesciunt facere odio similique excepturi, nulla aliquid?</p>
                      </div>
                    </div>
                </div>
                <div data-accordion-component="AccordionItem" class="accordion__item">
                    <div data-accordion-component="AccordionItemHeading" role="heading" class="accordion__heading" aria-level="3">
                      <div class="accordion__button" id="accordion__heading-raa-5" aria-disabled="false" aria-expanded="false" aria-controls="accordion__panel-raa-5" role="button" tabindex="0" data-accordion-component="AccordionItemButton">
                          | Pregunta 6
                          <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-down" class="svg-inline--fa fa-chevron-down fa-w-14 " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                            <path fill="currentColor" d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z"></path>
                          </svg>
                      </div>
                    </div>
                    <div data-accordion-component="AccordionItemPanel" class="accordion__panel" role="region" aria-labelledby="accordion__heading-raa-5" id="accordion__panel-raa-5" hidden="">
                      <div class="content">
                          <h1>Lorem ipsum dolor sit amet consectetur.</h1>
                          <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, eaque.</h2>
                          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus, architecto. Officia hic sapiente similique, repellendus animi dolor earum ducimus quia, ea fugiat ullam quidem suscipit illum nulla molestiae eaque alias. Minus eaque temporibus alias quo tenetur vitae quis nesciunt voluptate! Voluptatum necessitatibus illo veritatis magnam dolor neque eos animi iure.</p>
                          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit iste illum assumenda inventore dolores, labore non ratione fuga nulla? Perferendis recusandae error aspernatur quod provident nesciunt tempora, facilis qui ut eos ex quia minus iusto doloribus, eaque velit totam eum officia veritatis fugiat magnam aperiam! Facere eaque in quos similique id error perspiciatis atque! Sed, id ipsa? Eligendi soluta impedit libero voluptatibus modi maiores dolore saepe distinctio culpa minima sit iusto, aspernatur aliquam? Sequi reprehenderit dolore soluta necessitatibus qui voluptatum porro quod accusamus ad molestias fugiat nobis illo, id blanditiis corrupti quis esse rem provident delectus assumenda! Quaerat, tempora blanditiis.</p>
                          <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ducimus.</h3>
                          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis doloribus dolor a, distinctio porro cum soluta vitae delectus quas error repudiandae impedit voluptates fugiat minus. A architecto dolor sed facilis suscipit saepe dolores laudantium at, itaque, dicta neque? Dignissimos magnam libero explicabo, cumque fuga doloremque nisi inventore corporis ad fugit officiis exercitationem accusantium est autem quaerat minima et, sapiente accusamus nemo? Quas magnam inventore numquam qui, blanditiis illum officia libero neque delectus, asperiores commodi doloremque. Expedita quia veniam aliquam nemo consequatur iure aut quis totam, voluptate corrupti perspiciatis nostrum assumenda nam omnis impedit nesciunt facere odio similique excepturi, nulla aliquid?</p>
                      </div>
                    </div>
                </div>
              </div>
              
      .separador--ultra
    include ./includes/footer