include ./mixins/header
html(lang="es")
  include ./includes/head
  body
    main.dashboard
      +header('dashboard')
      .dashboard__container
        include ./components/dashboard--side
        .dashboard__body
          .dashboard__content.container
            include ./components/breadcrumbs
            h1.h3 Mis Datos
            include ./components/dashboard--stats
            
            .separador--big
            form.form
              fieldset.form__fieldset
                .row
                  .col-xs-12.col-md-6.col-lg-4 
                    .form__grupo 
                      input.text#nombre(type="text" name="nombre" placeholder="Juan") 
                      label(for="nombre") Nombre
                  .col-xs-12.col-md-6.col-lg-4 
                    .form__grupo 
                      input.text#apellidos(type="text" name="apellidos" placeholder="Sepúlveda") 
                      label(for="apellidos") Apellidos
                  .col-xs-12.col-md-6.col-lg-4 
                    .form__grupo 
                      input.text#rut(type="text" name="rut" placeholder="11.111.111-1") 
                      label(for="rut") RUT
                  .col-xs-12.col-md-6.col-lg-4 
                    .form__grupo 
                      input.text#telefono(type="text" name="telefono" placeholder="+56 2...") 
                      label(for="telefono") Teléfono
                  .col-xs-12.col-md-6.col-lg-4 
                    .form__grupo 
                      input.text#nacimiento(type="text" name="nacimiento" placeholder="26/08/1987") 
                      label(for="nacimiento") Fecha nacimiento
                  .col-xs-12.col-md-6.col-lg-4 
                    .form__grupo 
                      input.text#celular(type="text" name="celular" placeholder="+56 9...") 
                      label(for="celular") Celular
                  .col-xs-12.col-md-6.col-lg-4 
                    .form__grupo 
                      input.text#email(type="email" name="email" placeholder="nombre@tudominio.com") 
                      label(for="email") Email
            


      include ./includes/footer