include ./mixins/header

html(lang="es")
  include ./includes/head
  body
    main.interior
      //- include ./includes/header
      +header('pages')
      section.registro
        .registro__bg
          img(src="/assets/registro-bg.jpg" alt="Registro")
        .registro__container.container
          .registro__form
            form.form.registro__form__content
              +titulos('Registro', 'Escribe tus datos de seguridad para entrar a tu sesión. ', 'primario')
              .separador--big
              fieldset.form__fieldset
                .row
                  .col-xs-12.col-md-6.col-lg-4 
                    .form__grupo 
                      input.text#nombre(type="text" name="nombre" placeholder="Juan") 
                      label(for="nombre") Nombre
                  .col-xs-12.col-md-6.col-lg-4 
                    .form__grupo 
                      input.text#apellidos(type="text" name="apellidos" placeholder="Sepúlveda") 
                      label(for="apellidos") Apellidos
                  .col-xs-12.col-md-6.col-lg-4 
                    .form__grupo 
                      input.text#rut(type="text" name="rut" placeholder="11.111.111-1") 
                      label(for="rut") RUT
                  .col-xs-12.col-md-6.col-lg-4 
                    .form__grupo 
                      input.text#telefono(type="text" name="telefono" placeholder="+56 2...") 
                      label(for="telefono") Teléfono
                  .col-xs-12.col-md-6.col-lg-4 
                    .form__grupo 
                      input.text#nacimiento(type="text" name="nacimiento" placeholder="26/08/1987") 
                      label(for="nacimiento") Fecha nacimiento
                  .col-xs-12.col-md-6.col-lg-4 
                    .form__grupo 
                      input.text#celular(type="text" name="celular" placeholder="+56 9...") 
                      label(for="celular") Celular
                  .col-xs-12.col-md-6.col-lg-4 
                    .form__grupo 
                      input.text#email(type="email" name="email" placeholder="nombre@tudominio.com") 
                      label(for="email") Email
                  .col-xs-12.col-md-6.col-lg-4 
                    .form__grupo 
                      input.text#pass(type="password" name="pass" placeholder="•••••••••") 
                      label(for="pass") Contraseña
                  .col-xs-12.col-md-6.col-lg-4 
                    .form__grupo 
                      input.text#repetir-pass(type="password" name="repetir-pass" placeholder="•••••••••") 
                      label(for="repetir-pass") Repetir Contraseña
                  .col-xs-12 
                    label Email 
                    p Selecciona las categorías de tu interés
                    .separador--small 
                    .cats-checks
                      each cat in categorias
                        label(for=cat.slug).cats-checks__item
                          input(type="checkbox" id=cat.slug name='categorias-registro')
                          .cats-checks__icon!=cat.icon
                          .cats-checks__title=cat.title
                          .cats-checks__check
                    .separador
                  .col-xs-12
                    .form__checkbox
                      input#terminos(type="checkbox" name="terminos")
                      .form__checkbox__item
                      label(for="terminos") Acepto los #[a(href="").link-externo términos y condiciones]
                  .col-xs-12
                    .separador--big
                    button.btn.btn--small.btn--terciario.btn--invertido.btn--redondo Registrarme
                .separador
            //-     a(href="#").btn.btn--small.btn--redondo.btn--invertido.btn--terciario.btn--ancho Ingresar
            //- footer.login__footer
            //-   .login__footer__item
            //-     a(href="#").link-externo He olvidado mi contraseña
            //-   .login__footer__item
            //-     p ¿Aún no estás inscrito?
            //-     a(href="#").btn.btn--primario.btn--redondo.btn--small.btn--ancho.btn--icono
            //-       i.fas.fa-clipboard-list
            //-       | Regístrate

      include ./includes/footer