html(lang="es")
  include ./includes/head
  body
    main
      +header('pages')
      +banner('Temas de interés', '../../assets/temas-interes-bg.jpg')
      include ./components/filtro-categorias
      include ./components/newsletter
      .articles
        .container
          .row
            - for (let i =0; i < 8; i++) {
              .col-xs-12.col-md-6
                article.articles__item
                  picture.articles__image
                    img(src=placeholder(750,750), alt="")
                  section.articles__content
                    h3.h5.articles__title Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut, quaerat.
                    p.articles__excerpt Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea sequi, quia reprehenderit obcaecati autem optio accusantium quibusdam ratione libero praesentium.
                    footer.articles__footer
                      a(href="#").btn.btn--small.btn--redondo.btn--invertido.btn--terciario + Ver más
            - }
    include ./includes/footer