html(lang="es")
  include ./includes/head
  body
    main.single
      +header('pages')
      include ./components/newsletter
      .container
        .row
          .col-xs-12.col-lg-9
            .content
              h1 Lorem ipsum dolor sit amet consectetur.
              img(src=placeholder(1000,750), alt="")
              h2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, eaque.
              p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus, architecto. Officia hic sapiente similique, repellendus animi dolor earum ducimus quia, ea fugiat ullam quidem suscipit illum nulla molestiae eaque alias. Minus eaque temporibus alias quo tenetur vitae quis nesciunt voluptate! Voluptatum necessitatibus illo veritatis magnam dolor neque eos animi iure.
              p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit iste illum assumenda inventore dolores, labore non ratione fuga nulla? Perferendis recusandae error aspernatur quod provident nesciunt tempora, facilis qui ut eos ex quia minus iusto doloribus, eaque velit totam eum officia veritatis fugiat magnam aperiam! Facere eaque in quos similique id error perspiciatis atque! Sed, id ipsa? Eligendi soluta impedit libero voluptatibus modi maiores dolore saepe distinctio culpa minima sit iusto, aspernatur aliquam? Sequi reprehenderit dolore soluta necessitatibus qui voluptatum porro quod accusamus ad molestias fugiat nobis illo, id blanditiis corrupti quis esse rem provident delectus assumenda! Quaerat, tempora blanditiis.
              img(src=placeholder(1000,400), alt="")
              h3 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ducimus.
              p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis doloribus dolor a, distinctio porro cum soluta vitae delectus quas error repudiandae impedit voluptates fugiat minus. A architecto dolor sed facilis suscipit saepe dolores laudantium at, itaque, dicta neque? Dignissimos magnam libero explicabo, cumque fuga doloremque nisi inventore corporis ad fugit officiis exercitationem accusantium est autem quaerat minima et, sapiente accusamus nemo? Quas magnam inventore numquam qui, blanditiis illum officia libero neque delectus, asperiores commodi doloremque. Expedita quia veniam aliquam nemo consequatur iure aut quis totam, voluptate corrupti perspiciatis nostrum assumenda nam omnis impedit nesciunt facere odio similique excepturi, nulla aliquid?
          .col-xs-12.col-lg-3
            aside.sidebar 
              form.sidebar__buscador
                input#buscador(type="text" name="buscador" placeholder="Buscar...")
                button.sidebar__buscador__button
                  i.fas.fa-search
              h4.sidebar__title Categorías
              ul.sidebar__cats
                - for (let i = 0; i < 8; i++){
                  li.sidebar__cats__item
                    a(href="#").sidebar__cats__link
                      i.fas.fa-caret-right.fa-lg
                      | Categoria #{i}
                - }
              a.sidebar__image(href="#")
                img(src=placeholder(450,800), alt="")
              h4.sidebar__title Temas recientes
              .sidebar__temas
                - for (let i = 0; i < 8; i++){
                  a(href="#").sidebar__temas__item
                    .sidebar__temas__image
                      img(src=placeholder(250,250), alt="")
                    .sidebar__temas__content
                      h3.sidebar__temas__title Lorem ipsum dolor sit amet consectetur.
                      .sidebar__temas__meta Feb, 28 de 2021
                - }
              a.sidebar__image(href="#")
                img(src=placeholder(450,500), alt="")
      .separador--ultra
    include ./includes/footer