mixin header(layout)
  header.header(class=`${layout ? `header--${layout}` : ''}`)
    if (layout == 'dashboard')
      a(href="/").header__logo
          img(src="/assets/logo.png" alt="@SITE_NAME@")
    .header__top 
      .header__container.container
        //- .header__rrss.rrss
        //-   a.rrss__link(href="#")
        //-     i.fab.fa-lg.fa-youtube
        //-   a.rrss__link(href="#")
        //-     i.fab.fa-lg.fa-instagram
        //-   a.rrss__link(href="#")
        //-     i.fab.fa-lg.fa-facebook
        //-   a.rrss__link(href="#")
        //-     i.fab.fa-lg.fa-twitter
        if (layout != 'dashboard')
          .header__actions.btn__grupo
            a(href="#").btn.btn--fantasma.btn--redondo.btn--small.btn--ancho.btn--icono
              i.fas.fa-user-circle
              | Iniciar sesión
            a(href="#").btn.btn--primario.btn--redondo.btn--small.btn--ancho.btn--icono
              i.fas.fa-clipboard-list
              | Regístrate


    .header__bottom
      .header__container.container
        if (layout != 'dashboard')
          a(href="/").header__item.header__item--logo
            img(src="/assets/logo.png" alt="@SITE_NAME@")
        span.header__burger
          i.fas.fa-bars.fa-lg
        nav.header__item.header__item--menu.menu
          ul.menu__list
            li.menu__item.menu__item--active 
              a(href="#").menu__link Inicio
            li.menu__item 
              a(href="#").menu__link Temas de interés
            li.menu__item 
              a(href="#").menu__link Tipo de clientes
            li.menu__item 
              a(href="#").menu__link Preguntas frecuentes
            li.menu__item 
              a(href="#").menu__link Tiendas





