mixin titulos(titulo, subtitulo, color)
  if titulo
    h2(class=`color--${color}`).section__title.h1.text-upper.text-wide=titulo
  if subtitulo
    p(class=`color--${color}`).section__subtitle=subtitulo 